<div>
    <div class="mainnav">

        <div class="container">

            <a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </a>

            <nav class="collapse mainnav-collapse" role="navigation">

                <!--<form class="mainnav-form" role="search">-->
                    <!--<input type="text" class="form-control input-md mainnav-search-query" placeholder="Search">-->
                    <!--<button class="btn btn-sm mainnav-form-btn"><i class="fa fa-search"></i></button>-->
                <!--</form>-->

                <ul class="mainnav-menu">

                    <li class="dropdown active">
                        <a href="./index.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                            Таблицы
                            <i class="mainnav-caret"></i>
                        </a>

                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="./index.html">
                                    <i class="fa fa-dashboard dropdown-icon "></i>
                                    Управление видео блоками на главной странице (CRUD)
                                </a>
                            </li>

                            <li>
                                <a href="./dashboard-2.html">
                                    <i class="fa fa-dashboard dropdown-icon "></i>
                                    Блог. (CRUD)
                                </a>
                            </li>

                            <li>
                                <a href="./dashboard-3.html">
                                    <i class="fa fa-dashboard dropdown-icon "></i>
                                    Пользователи
                                </a>
                            </li>
                            <li>
                                <a href="./dashboard-3.html">
                                    <i class="fa fa-dashboard dropdown-icon "></i>
                                    Каналы
                                </a>
                            </li>
                            <li>
                                <a href="./dashboard-3.html">
                                    <i class="fa fa-dashboard dropdown-icon "></i>
                                    Комментарии
                                </a>
                            </li>
                            <li>
                                <a href="./dashboard-3.html">
                                    <i class="fa fa-dashboard dropdown-icon "></i>
                                    Текстовые сообщения (уведомления) пользователям
                                </a>
                            </li>
                            <li>
                                <a href="./dashboard-3.html">
                                    <i class="fa fa-dashboard dropdown-icon "></i>
                                    Категории
                                </a>
                            </li>
                            <li>
                                <a href="./dashboard-3.html">
                                    <i class="fa fa-dashboard dropdown-icon "></i>
                                    Рекомендуемые каналы
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>

            </nav>

        </div> <!-- /.container -->

    </div> <!-- /.mainnav -->
</div>
