.profile {
  &__pic {
    width: 192px;
    display: block;
    float: left;
  }
  @include tablet {
    &__pic {
      width: 150px;
    }
  }
  @include phone {
    &__pic {
      width: 125px;
      display: block;
      margin: 0 auto;
      float: none;
    }
  }
  &__block__title {
    font-size: 46px;
    font-weight:500;
  }
  @include phone{
    &__block__title {
      font-size: 33px;
    }
  }
  @include desktop {
    .no_padding_right_desktop {
      padding-right: 0;
    }
    .no_padding_left_desktop {
      padding-left: 0;
    }
    .no_margin_desktop {
      margin-right: 0;
      margin-left: 0;
    }
  }
  @include tablet {
    .no_margin_tablet {
      margin: 0;
    }
  }
  &__info_line {
    margin-bottom: 15px;
  }
  &__fb_link {
    font-size: 14px;
    color: #5a6ab7;
  }
  &__country {
    margin-left: 15px;
    font-size: 16px;
    color: #3a3d3e;
  }
  @include phone{
    &__country {
      margin-left: 0;
    }
    .no_margin_phone {
      margin: 0;
    }
  }
  &__user_info_box {
    float: left;
    margin-left: 30px;
    padding-top: 33px;
  }
  @include tablet {
    &__user_info_box {
      padding-top: 0;
      margin-left: 20px;
    }
  }
  &__user_description {
    font-size: 16px;
    font-weight: 300;
    max-width: 330px;
  }
  &__site_link {
    color: $col-green;
    font-size: 16px;
    font-weight: 300;
    display: block;
  }
  &__mid_left {
    padding: 5%;
    border:1px solid #e2e2e2;
    img {
      max-width:137px;
      width: 47%;
      box-shadow: 1px 4px 10px -1px rgba(0, 0, 0, 0.75)
    }
    .ch_name {
      font-size: 30px;
      font-weight:500;
      color: $col-green;
      margin: 15px 0;
    }
  }

  @include tablet {
    &__mid_left {
      padding: 15px;
      .sub_box {
        float: left;
        padding-left: 20px;
      }
      img {
        float: left;
        width: 170px;
        max-width: none;
      }
    }
  }
  @include phone {
    &__user_info_box {
      float: none;
      text-align: center;
      margin-left: auto;
      .block__title {
        float: none;
      }
    }
    &__fb_link {
      display: block;
      margin-bottom: 15px;
    }
    &__site_link {
      display: inline;
    }
    &__user_description {
      max-width: none;
      text-align: center;
    }
    .pr_wrapper {
      text-align: center;
      margin-top: 15px;
    }
    &__mid_left {
      padding: 15px 0;
      img {
        float: none;
        display: block;
        margin: 0 auto 15px;
      }
    }
    .sub_box {
      text-align: center;
    }
    &__btn_white.tbl {
      margin: 15px auto;
    }
  }
  &__btn_white {
    border: 1px solid #c6c6c6;
    border-radius: 50px;
    color: #3a3b3b;
    line-height: 1;
    padding: 6px 22px 6px 44px;
    transition: all 0.3s ease 0s;
    background: rgba(0, 0, 0, 0) url("../img/edit_icon.png") no-repeat 19px 6px / 12px 13px;
    max-width: 240px;
  }
  @include tablet {
    &__btn_white {
      position: absolute;
      right:0;
      top:0;
      &.tbl {
        position: static;
        float: none;
        width:200px;
        padding: 6px 14px 6px 37px;
      }
    }
  }
  &__subscribe_box {
    float: none;
    margin: 15px 0;
    .green_btn {
     font-size: 16px;
      padding: 6px 20px;
      font-weight:normal;
      text-transform: capitalize;
    }
    .counter {
      font-size: 12px;
      padding: 11px 20px 9px 40px;
    }
  }

  @media screen and (min-width: 1280px ) and (max-width: 1430px) {
    &__subscribe_box {
      .green_btn {
        padding: 5px 16px;
        font-size: 14px;
      }
      .counter {
        padding: 10px 20px 8px 30px;
        font-size: 10px;
        margin-left: -26px;
      }
    }
  }
  .pin_btn {
    vertical-align: top;
    font-size: 14px;
    color: #999999;
    text-shadow: 1px 1px 1px rgba(0,0,0, .15);
    margin-left: 12%;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width:13px;
      height:13px;
      top:2px;
      left:-20px;
      background: url("../img/pin_icon.png") no-repeat center / 13px 13px;
    }
  }
  .sub_info {
    font-size:12px;
    line-height: 16px;
    color: #999999;
    a {
      color: $col-green;
    }
  }
  @include tablet {
    .sub_info.with_link {
      float: left;
      margin-right: 5px;
    }
  }
  @include phone {
    .ch_count_wrapper .block__title {
      float: none;
    }
    .block {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__add_channel_btn {
    border-radius: 50px;
    padding: 11px 45px 11px 90px;
    font-size: 14px;
    text-transform: uppercase;
    color: $col-green;
    background: #fff url("../img/add_channel_icon.png") no-repeat 8px 2px / 33px 33px;
    display: inline-block;
    margin-top: 15px;
  }

  @include phone {
    &__add_channel_btn {
      font-size: 11px;
      padding: 11px 30px 11px 57px;
      background-size: 25px 25px;
      background-position: 8px 4px;
    }
  }
}