.registration {
  width: 460px;
  margin: 75px auto 0;
  padding: 20px 0;
  box-shadow: 1px 2px 8px -1px rgba(0, 0, 0, 0.75);

  span {
    display: inline-block;
    vertical-align: top;
    max-width: 70%;
    font-size: 14px;
    color: #5b5d5e;
    font-weight: 300;
    line-height: 16px;
    &.line {
      width: 45%;
      height:1px;
      background: #e0e0e0;
      vertical-align: middle;
    }
  }

  &__nav_box {
    padding: 0 20px;
    border-bottom: 1px solid #e0e0e0;
  }
  &__logo_row {
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
    img {
      width: 85px;
      margin-right: 30px;
    }
  }
  &__sign_in_options {
    padding: 20px;
    background: #fff;
  }
  .options {
    &__soc_bar {
      margin-bottom: 15px;
    }
    &__form {
      margin-top: 15px;
      label {
        font-size: 14px;
        color: #5b5d5e;
        font-weight: 300;
        width:29%;
        display: inline-block;
        &.check_label {
          position: relative;
          width: 35%;
          padding-left: 35px;
          cursor: pointer;
          &:before {
            content: '';
            position: absolute;
            width: 24px;
            height:24px;
            background:url("../img/checkbox_bg.png") no-repeat no-repeat 0 -1px;
            background-size: 24px auto;
            left: 0;
            top:-5px;
          }
        }
      }
      input {
        width: 68%;
        border-radius: 50px;
        border: 1px solid #e0e0e0;
        background: #fff;
        outline: none;
        font-size: 16px;
        color: #3a3d3e;
        padding: 3px 15px;
        &#password {
          padding-right: 125px;
        }
        &:checked + .check_label:before {
          background-position: 0px -86px;
        }
      }
      .inp_row {
        margin-bottom: 15px;
        position: relative;
        &__forgot_pass {
          font-size: 14px;
          color: $col-green;
          text-decoration: none;
          right:18px;
          top:6px;
          position: absolute;
        }
      }
      &.bottom {
        padding: 20px 20px 0;
        margin-top: 0;
        .reg_info {
          text-align: center;
          font-size: 14px;
          color: #5b5d5e;
          font-weight: 300;
          line-height: 16px;
          margin-bottom: 15px;
          a {
            color: $col-green;
            font-weight:500;
            text-decoration: none;
          }
        }
      }
    }
  }
}