<!-- user channel liked tab -->

<!-- slider block -->
<div class="block block--white">
    <div class="col-xs-12">
        <h2 class="block__title block__title--left--auto">Новые видео</h2><span class="cat_counter"> {{ videos.length }}</span>
        <div class="block__btn"><a href="#" class="btn btn-white">Смотреть все</a></div>
    </div>
    <!-- slider visible desktop only -->
    <slider slides="videos" class="hidden-phone hidden-tablet">
        <div class="col-xs-2 slider__slide" ng-repeat="video in videos">
            <div class="thumb">
                <a ui-sref="videos({ id: video.id })">
                    <div class="thumb__img">
                        <span class="thumb__length">{{ video.length | secondsToTime}}</span>
                        <img ng-src="{{ video.img }}" alt="" />
                    </div>
                </a>
                <p class="thumb__title"><a href="">{{ video.title }}</a></p>
                <p class="thumb__user"><a href="">{{ video.user }}</a></p>
                <p>
                    <span class="thumb__count"><span class="thumb__number">{{ video.count | number }}</span> просмотров</span>
                    <span class="thumb__date" ng-bind-html="video.date | prettyDate"></span>
                </p>
            </div>
        </div>
    </slider>
    <!-- slider replaced by simple block on mob and tablet -->
    <div class="col-xs-12 col-sm-4 hidden-desktop" ng-repeat="video in videos | limitTo: 3">
        <div class="thumb row">
            <div class="col-xs-7 col-sm-12">
                <a ui-sref="videos({ id: video.id })">
                    <div class="thumb__img">
                        <span class="thumb__length">{{ video.length | secondsToTime}}</span>
                        <img ng-src="{{ video.img }}" alt="" />
                    </div>
                </a>
            </div>
            <div class="col-xs-5 col-sm-12">
                <p class="thumb__title"><a href="">{{ video.title }}</a></p>
                <p class="thumb__user"><a href="#">{{ video.user }}</a></p>
                <p class="thumb__info hidden-phone">
                    <span class="thumb__count"><span class="thumb__number">{{ video.count | number }}</span> просмотров</span>
                    <span class="thumb__date" ng-bind-html="video.date | prettyDate"></span>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- slider block -->
<div class="block block--white">
    <div class="col-xs-12">
        <h2 class="block__title block__title--left--auto">Популярные видео</h2><span class="cat_counter"> {{ videos.length }}</span>
        <div class="block__btn"><a href="#" class="btn btn-white">Смотреть все</a></div>
    </div>
    <!-- slider visible desktop only -->
    <slider slides="videos" class="hidden-phone hidden-tablet">
        <div class="col-xs-2 slider__slide" ng-repeat="video in videos">
            <div class="thumb">
                <a ui-sref="videos({ id: video.id })">
                    <div class="thumb__img">
                        <span class="thumb__length">{{ video.length | secondsToTime}}</span>
                        <img ng-src="{{ video.img }}" alt="" />
                    </div>
                </a>
                <p class="thumb__title"><a href="">{{ video.title }}</a></p>
                <p class="thumb__user"><a href="">{{ video.user }}</a></p>
                <p>
                    <span class="thumb__count"><span class="thumb__number">{{ video.count | number }}</span> просмотров</span>
                    <span class="thumb__date" ng-bind-html="video.date | prettyDate"></span>
                </p>
            </div>
        </div>
    </slider>
    <!-- slider replaced by simple block on mob and tablet -->
    <div class="col-xs-12 col-sm-4 hidden-desktop" ng-repeat="video in videos | limitTo: 3">
        <div class="thumb row">
            <div class="col-xs-7 col-sm-12">
                <a ui-sref="videos({ id: video.id })">
                    <div class="thumb__img">
                        <span class="thumb__length">{{ video.length | secondsToTime}}</span>
                        <img ng-src="{{ video.img }}" alt="" />
                    </div>
                </a>
            </div>
            <div class="col-xs-5 col-sm-12">
                <p class="thumb__title"><a href="">{{ video.title }}</a></p>
                <p class="thumb__user"><a href="#">{{ video.user }}</a></p>
                <p class="thumb__info hidden-phone">
                    <span class="thumb__count"><span class="thumb__number">{{ video.count | number }}</span> просмотров</span>
                    <span class="thumb__date" ng-bind-html="video.date | prettyDate"></span>
                </p>
            </div>
        </div>
    </div>
</div>
