<!-- channel page -->
<div class="channel">
    <div class="channel__cover"
        ng-class="{bf_vis : hoverCover}"
        ng-style="{'background-image': 'url(' + currentUser.cover + ')'}">
        <label for="channel_bg"
            ng-mouseover="hoverCover = true"
            ng-mouseleave="hoverCover = false"
            class="change_img channel_bg hidden-tablet hidden-phone">
        </label>
        <modal show="show.bgModal">
            <div class="registration" ng-init="loginActive = true">
                <div class="clearfix">
                    <tabs class="tabs tabs--center">
                        <a ng-click="loginActive = false" ng-class="{'active':!loginActive}">Регистрация</a>
                        <a ng-click="loginActive = true" ng-class="{'active':loginActive}">Войти</a>
                    </tabs>
                </div>
                <hr class="block__hr">
                <div ng-show="!loginActive">
                    <div class="registration__logo_row clearfix">
                        <img src="assets/img/logo.png" alt="logo">
                        <span>Вы можете использовать данные для входа с VSP Online</span>
                        <div class="mob_btn pull-right hidden-desktop hidden-tablet">
                            <a class="btn btn-google">Google +</a>
                            <a class="btn btn-vk">Vk</a>
                            <a class="btn btn-fb">Fb</a>
                        </div>
                    </div>
                    <form id="reg-form" action="">
                        <div class="registration__sign_in_options options">
                            <div class="options__soc_bar clearfix">
                                <span class="hidden-phone">Авторизация <br> через соц сети</span>
                                <div class="pull-right hidden-phone">
                                    <a class="btn btn-google">Google +</a>
                                    <a class="btn btn-vk">Vk</a>
                                    <a class="btn btn-fb">Fb</a>
                                </div>
                            </div>
                            <div class="hidden-phone"><span class="line"></span> <span>или</span> <span class="line"></span></div>
                            <div class="options__form">
                                <div class="inp_row">
                                    <label for="email">Email</label> <input type="email" id="email" name="email">
                                </div>
                                <div class="inp_row">
                                    <label for="password">Пароль</label> <input type="password" id="password" name="password">
                                </div>
                                <div class="inp_row">
                                    <label for="password_confirm">Подтвердить <br class="hidden-phone"> пароль</label> <input type="password" id="password_confirm" name="password_confirm">
                                </div>
                                <div class="inp_row">
                                    <label for="nick_name">Никнейм <br class="hidden-phone"> <span class="not_mandatory">(не обязательно)</span></label> <input type="text" id="nick_name" name="nick_name">
                                </div>
                            </div>
                        </div>
                        <div class="options__form bottom">
                            <p class="reg_info">Регистрируя новый аккаунт, вы принимаете условия <br> <a href="#" class="btn">пользовательского соглашения</a></p>
                            <div class="inp_row">
                                <a href="#" class="btn btn-green main-ui ">Регистрация</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div ng-show="loginActive">
                    <div class="registration__logo_row clearfix">
                        <img src="assets/img/logo.png" alt="logo">
                        <span>Вы можете использовать данные для входа с VSP Online</span>
                        <div class="mob_btn pull-right hidden-tablet hidden-desktop">
                            <a class="btn btn-google">Google +</a>
                            <a class="btn btn-vk">Vk</a>
                            <a class="btn btn-fb">Fb</a>
                        </div>
                    </div>
                    <div class="registration__sign_in_options options">
                        <div class="options__soc_bar clearfix">
                            <span class="hidden-phone">Войти через <br> соц сети</span>
                            <div class="pull-right hidden-phone">
                                <a class="btn btn-google">Google +</a>
                                <a class="btn btn-vk">Vk</a>
                                <a class="btn btn-fb">Fb</a>
                            </div>
                        </div>
                        <div class="hidden-phone"><span class="line"></span> <span>или</span> <span class="line"></span></div>
                        <div class="options__form">
                            <div class="inp_row">
                                <label for="email">Email</label> <input type="email">
                            </div>
                            <div class="inp_row">
                                <label for="password">Пароль</label> <input type="password">
                                <a href="#" class="btn inp_row__forgot_pass">Забыли пароль?</a>
                            </div>
                        </div>
                    </div>
                    <div class="options__form bottom">
                        <div class="inp_row">
                            <input type="checkbox" class="hidden" id="remember_me">
                            <label for="remember_me" class="check_label">Запомнить меня</label>
                        </div>
                        <div class="inp_row">
                            <button class="btn btn-green main-ui ">Вход</button>
                        </div>
                    </div>
                </div>
            </div>
        </modal>
        <div ng-show="hoverCover" class="bg_text">Обновить фото обложки канала</div>
        <input type="file" id="channel_bg" class="hidden">

        <div class="channel__ava" ng-class="{bf_vis : hoverAva}">
            <img ng-src="{{ currentUser.avatar }}" alt="avatar"/>
            <label for="channel_ava"
                ng-mouseover="hoverAva = true"
                ng-mouseleave="hoverAva = false"
                class="change_img channel_ava hidden-tablet hidden-phone">
            </label>
            <div ng-show="hoverAva" class="bg_text ava">Обновить аватар канала</div>
            <input type="file" id="channel_ava" class="hidden">
        </div>

    </div>
</div>

<!-- <div ng-click="show.bgModal = true">
    click
</div> -->

<!-- content -->
<div class="content">
    <div class="row">

        <!-- channel page header -->
        <div class="block block--header">
            <div class="col-xs-12">
                <div class="accordion channel__head">
                    <div class="clearfix">
                        <h2 class="block__title">{{ content.name }}</h2>
                        <a ui-sref="profile" class="btn btn-white btn-grey hidden-tablet hidden-phone">
                            <i class="svg"><svg xmlns="http://www.w3.org/2000/svg" width="12.5" height="12.75" viewBox="0 0 12.5 12.75"><path d="M0 10.11v2.64h2.64l7.638-7.715-2.64-2.64L0 10.108zm12.292-7.09c.277-.278.277-.695 0-.973l-1.597-1.6c-.28-.277-.695-.277-.973 0L8.472 1.7l2.64 2.64 1.18-1.32z"/>
                            </svg></i>
                            Редактировать канал
                        </a>
                        <div class="subscribe_box hidden-tablet hidden-phone">
                            <a class="green_btn subscribe">Подписаться</a><span class="counter subscribe">{{ content.subscr_counter | number }}</span>
                        </div>
                    </div>
                    <div class="tablet_ctrl clearfix hidden-desktop hidden-tablet">
                        <div class="subscribe_box hidden-desktop" style="float: none;">
                            <a class="green_btn subscribe">Подписаться</a><span class="counter subscribe"> {{ content.subscr_counter | number}}</span>
                        </div>
                        <a ui-sref="profile" class="btn btn-white btn-grey hidden-desktop" style="float: none;">
                            <i class="svg">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12.5" height="12.75" viewBox="0 0 12.5 12.75"><path d="M0 10.11v2.64h2.64l7.638-7.715-2.64-2.64L0 10.108zm12.292-7.09c.277-.278.277-.695 0-.973l-1.597-1.6c-.28-.277-.695-.277-.973 0L8.472 1.7l2.64 2.64 1.18-1.32z"/>
                                </svg>
                            </i>
                            Редактировать канал
                        </a>
                    </div>
                    <p ng-init="varu = 200" ng-show="content.description.length > 0" class="block__subtitle">{{ content.description | trimText:varu }}
                        <a class="read-more"
                            ng-show="content.description.length > varu"
                            ng-click="varu = infinity">
                            <span>Читать далее</span>
                            <i class="svg"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 28.914 16.998"><path fill-rule="evenodd" clip-rule="evenodd" fill="" d="M28.914 2.857L26.057 0l-11.66 11.66L2.83.093 0 2.924l13.98 13.98.35-.348.44.442"/></svg></i>
                        </a>
                    </p>
                </div>
                <div class="tablet_ctrl clearfix hidden-phone">
                    <div class="subscribe_box hidden-desktop" style="float: left;">
                        <a class="green_btn subscribe">Подписаться</a><span class="counter subscribe"> {{ content.subscr_counter | number}}</span>
                    </div>
                    <a ui-sref="profile" class="btn btn-white btn-grey hidden-desktop">
                        <i class="svg">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12.5" height="12.75" viewBox="0 0 12.5 12.75"><path d="M0 10.11v2.64h2.64l7.638-7.715-2.64-2.64L0 10.108zm12.292-7.09c.277-.278.277-.695 0-.973l-1.597-1.6c-.28-.277-.695-.277-.973 0L8.472 1.7l2.64 2.64 1.18-1.32z"/>
                            </svg>
                        </i>
                        Редактировать канал
                    </a>
                </div>

                <div class="clearfix">
                    <tabs class="tabs">
                        <a ui-sref="user.all({ url: currentUser.url })" ui-sref-active="active">Все видео</a>
                        <a ui-sref="user.liked({ url: currentUser.url })" ui-sref-active="active">Плейлисты</a>
                        <a ui-sref="user.shop({ url: currentUser.url })" ui-sref-active="active">Магазин</a>
                        <div class="tabs__underline"></div>
                    </tabs>
                </div>
            </div>
            <hr class="block__hr">
        </div>

        <!-- channel views -->
        <div ui-view></div>

    </div>
</div>
