<div class="block block--white block--big">
    <div class="col-xs-12 col-sm-6" ng-repeat="video in channelVideos | limitTo: 2">
        <div class="thumb thumb--big" ng-class="{'thumb--exclusive': video.exclusive > 0}">
            <a ui-sref="videos({ id: video.id })">
                <div class="thumb__img thumb__img--shadow">
                    <span class="thumb__length">{{ video.length | secondsToTime}}</span>
                    <img ng-src="{{ video.img }}" alt="" />
                    <span class="thumb__exclusive">Эксклюзивное видео</span>
                </div>
            </a>
            <p class="thumb__title"><a href="">{{ video.title }}</a></p>
            <p class="thumb__user"><a ui-sref="xuser({ url: video.user })">{{ video.user }}</a></p>
            <p class="thumb__info">
                <span class="thumb__count"><span class="thumb__number">{{ video.count | number }}</span> просмотров</span>
                <span class="thumb__date" ng-bind-html="video.date | prettyDate"></span>
            </p>
        </div>
    </div>
</div>

<!-- banner block -->
<div class="block">
    <div class="col-xs-12">
        <div class="banner_box">
            <img ng-src="assets/img/banner1.png" alt="banner1">
        </div>
    </div>
</div>

<div class="block block--white">
    <div class="col-xs-6 col-sm-4 col-md-3"
         ng-repeat="video in channelVideos | orderBy: 'video.date' : sortReverse | limitTo: limits.videos" ng-init="$parent.sliderCounter = $index">
        <div class="thumb">
            <a ui-sref="videos({ id: video.id })">
                <div class="thumb__img">
                    <span class="thumb__length">{{ video.length | secondsToTime}}</span>
                    <img ng-src="{{ video.img }}" alt="" />
                </div>
            </a>
            <div class="thumb__description">
                <p class="thumb__title"><a href="">{{ video.title }}</a></p>
                <p class="thumb__user"><a href="#">{{ video.user }}</a></p>
                <p class="thumb__info hidden-phone">
                    <span class="thumb__count"><span class="thumb__number">{{ video.count | number }}</span> просмотров</span>
                    <span class="thumb__date" ng-bind-html="video.date | prettyDate"></span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="block center">
    <a class="btn btn-more" ng-click="loadMore('videos')">ЗАГРУЗИТЬ ЕЩЕ</a>
</div>
