/* genearal */
* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: $font-main;
    min-width: 320px;
    background: $col-page;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    font-size: 18px;
    font-weight:bold;
    color: #5b5d5e;
    margin-bottom: 15px;
}

.svg,
svg {
    transition: .3s;
}
/* genearal */

.clearfix {
    @include clearfix;
}

input,
textarea {
    outline: none;
    &:focus,
    &:active{
        outline: none;
    }
}


/* main content layout */
.wrapper {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 70px;
    padding-left: 320px;
    //transform: translate3d(0,0,0);

    &.sidebarHidden {
        padding-left: 0px;
    }

    @include tablet {
        padding-left: 60px;
        &.sidebarHidden {
            // @include blur;
            padding-left: 60px;
            transition: .1s;
        }
    }

    @include phone {
        padding-left: 0px;
        padding-top: 55px;
        &.sidebarHidden {
            padding-left: 0px;
        }
    }

    @include desktop {
        -webkit-transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1);
        transition:         all 300ms cubic-bezier(0.86, 0, 0.07, 1);
    }

}

.page {
    width: 100%;
    min-height: 100%;
    margin-bottom: -55px; /* equal to footer height */
    position: relative;
    &:after {
        content: "";
        display: block;
        height: 55px;
    }
}
/* main content layout */



/* footer */
.footer {
    height: 55px;
    display: table;
    width: 100%;
    padding: 0 20px;
    &__left {
        float: left;
        .footer__link {
            margin-right: 20px;
        }
    }
    &__right {
        float: right;
        .footer__link {
            margin-left: 20px;
        }
    }
    &__link {
        color: #999;
        font-size: 12px;
    }
    @include phone {
        &__link {
            font-size: 9px;
            margin: 0 10px !important;
        }
        &__left {
            margin-bottom: 5px;
        }
        &__left,
        &__right {
            float: none;
            text-align: center;
        }
    };
}
/* footer */

/* hr */
.hr {
    height: 1px;
    color: #e0e0e0;
    background: #e0e0e0;
    font-size: 0;
    border: 0;
    box-shadow: 0px 1px 0px white;
    margin: 20px 0;
}

// read more
.read-more {
    @include no-select;
    margin-left: 10px;
    cursor: pointer;
    color: $col-green;
    .svg {
        fill: $col-green;
    }
    &.active {
        svg {
            transform: rotate(180deg);
        }
    }
}
