.settings {
    .block {
        margin-bottom: 0;
    }
    p {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .rm_top_right {
        position: absolute;
        right: 20px;
        top: 0px;
    }

}

.highlightedText {
    background: yellow;
    color: #5b5d5e!important;
}

.ctrl_box {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    max-width: 150px;
    .btn {
        display: inline-block;
        margin-bottom: 15px;
    }
    span {
        color: #999999;
        font-size: 12px;
    }
    @include phone {
        max-width: none;
        width: 50%;
        float: right;
    }
}

@include phone {
    .bg + .ctrl_box,
    .video-preview + .ctrl_box {
        padding: 0;
        width: 100%;
        float: none;
        margin-top: 15px;
        .btn {
            margin-right: 10px;
        }
    }
}
