.about_video {
    display: inline-block;
    &__chevron {
        max-width: 24px;
        display: inline-block;
        vertical-align: top;
        margin-right: 15px;
    }
    &__preview {
        max-width: 160px;
        display: inline-block;
        vertical-align: top;
    }
    &__text {
        display: inline-block;
        vertical-align: top;
        max-width: 315px;
        padding-left: 15px;
        .sb_title {
            font-size: 16px;
            font-weight: 500;
            color: #3a3d3e;
            margin-bottom: 10px;
        }
        .text {
            font-size: 12px;
            color: #999999;
        }
    }
    @include phone {
        &__chevron,
        &__preview,
        &__text {
            display: block;
        }
        &__text {
            padding-left: 0;
        }
        img {
            margin-bottom: 10px;
        }
        &__preview {
            margin-bottom: 5px;
        }
    }
}
