<!-- search channels -->
<div class="block">
    <div class="col-xs-12">

        <div class="row">
            <div ng-show="searchChannels" class="result_row">
                <div class="result_row__left col-xs-12 col-md-1 hidden-tablet hidden-phone">
                    <div class="history__date">
                        <span>Каналы</span>
                    </div>
                </div>
                <div class="result_row__right col-xs-12 col-sm-12 col-md-8 col-lg-6">
                    <div class="history__date type hidden-desktop">
                        <span>Каналы</span>
                    </div>
                    <div ng-repeat="channel in searchChannels" >
                        <div class="row clearfix">
                                <div class="thumb thumb--chan search_thumb pull-left">
                                    <div class="thumb__img">
                                        <a ui-sref="channels({ id: channel.id })">
                                            <img ng-src="{{ channel.img }}" alt="" />
                                        </a>
                                    </div>
                                </div>
                            <div class="col-md-5 col-sm-7 col-xs-6 pull-left">
                                <div class="thumb thumb--chan search_thumb">
                                    <p class="thumb__name">
                                        <a ui-sref="channels({ id: channel.id })">{{ channel.title | trimText:100 }}</a>
                                    </p>
                                    <div class="thumb__info">
                                        <span class="btn btn-green btn-small hidden-phone">Подписаться</span>
                                        <span class="thumb__subs">{{ channel.statSubscribers | number }}</span>
                                        <span class="btn btn-green btn-small hidden-desktop hidden-tablet">Подписаться</span>
                                    </div>
                                    <p class="thumb_text hidden-phone">{{ channel.description | trimText:100 }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-hide="searchChannels" class="col-xs-12">
                <h2>Нет результатов</h2>
            </div>
        </div> <!-- end row -->

    </div>
</div>

<div ng-show="channelsCount > channlesOffset" class="block center">
    <load-more params="[requestChannels,searchChannels,channelsOffset,searchKey]"></load-more>
</div>
