<!-- search articles -->
<div class="block">
    <div class="col-xs-12">

        <div class="row">
            <div class="result_row">
                <div class="result_row__left col-xs-12 col-md-1 hidden-tablet hidden-phone">
                    <div class="history__date">
                        <span>Статьи</span>
                    </div>
                </div>
                <div class="result_row__right col-xs-12 col-sm-12 col-md-8 col-lg-6">
                    <div class="history__date type hidden-desktop">
                        <span>Статьи</span>
                    </div>
                    <div ng-repeat="articles in searchData.articles | limitTo: 5" class="article_thumb">
                        <div class="row clearfix">
                            <div class="article_thumb__article_preview pull-left">
                                <img src="assets/img/article_preview.png" alt="article preview">
                            </div>
                            <div class="col-md-6 col-sm-8 col-xs-5 pull-left">
                                <div class="article_thumb__article_description">
                                    <h3>10 примеров, доказывающих, что год может изменить все</h3>
                                    <p>Мотивация и пример для каждого!</p>
                                    <p>
                                        <span class="thumb__date"><span class="thumb__number">Вчера</span></span>
                                        <span class="thumb__hasvideo">Содержит Видео</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->

    </div>
</div>
