<form name="form.channelSettings">

    <!-- authorization block -->
    <div class="block">
        <div class="col-xs-12">
            <div class="form" ng-init="authDisabled = true">
                <p>Авторизация в VSP online</p>
                <div class="form__row">
                    <label class="form__title">Email</label>
                    <input focus-me="!authDisabled" type="email" ng-model="channelSettings.email" ng-disabled="authDisabled" name="email">
                    <div class="main-messages" ng-messages="form.channelSettings.email.$error" ng-show="form.channelSettings.email.$touched" role="alert">
                        <div ng-message="required">Email обязателен</div>
                        <div ng-message="email">Введите валидный Email</div>
                    </div>
                </div>
                <div class="form__row">
                    <label class="form__title">Пароль</label>
                    <input type="password" ng-model="channelSettings.password" minlength="5" ng-disabled="authDisabled" name="password" required>
                    <div class="main-messages" ng-messages="form.channelSettings.password.$error" ng-show="form.channelSettings.password.$touched" role="alert">
                        <div ng-message="required">Пароль обязателен</div>
                        <div ng-message="minlength">Минимум 5 символов</div>
                    </div>
                </div>
                <span ng-show="authDisabled" ng-click="authDisabled = false; form.channelSettings.email.$setTouched()" class="btn btn-green main-ui change-user-data">Изменить</span>
                <span class="btn btn-white btn-remove rm_top_right hidden-phone hidden-tablet">
                    <i class="svg"><svg width="10" xmlns="http://www.w3.org/2000/svg" height="11" viewBox="0 0 64 64"><path fill="" d="M28.94 31.786L.614 60.114c-.787.787-.787 2.062 0 2.85.393.393.91.59 1.424.59.516 0 1.03-.197 1.424-.59L32.003 34.42l28.54 28.54c.395.395.91.59 1.425.59s1.03-.195 1.424-.59c.788-.786.788-2.06 0-2.848L35.065 31.786 63.41 3.438c.787-.787.787-2.062 0-2.85-.787-.785-2.062-.785-2.848 0L32.002 29.15 3.443.59C2.653-.196 1.38-.196.59.59c-.786.787-.786 2.062 0 2.85l28.35 28.346z"/></svg></i>
                    Удалить канал
                </span>
            </div>
        </div>
        <hr class="block__hr">
    </div><!-- authorization block -->

    <!-- activation block -->
    <div class="block">
        <div class="col-xs-12">
            <div class="form">
                <p>Активировать на моем канале</p>
                <input type="checkbox" class="hidden" id="activate" ng-model="channelSettings.activate">
                <label class="ctrl" for="activate"></label>
            </div>
        </div>
        <hr class="block__hr">
    </div><!-- activation block -->

    <!-- main settings block -->
    <div class="block">
        <div class="col-xs-12">
            <div class="form"  id="chanel_info">

                <!-- channel name -->
                <div class="form__row">
                    <label class="form__title">Название канала</label>
                    <input type="text" ng-model="channelSettings.title" name="title" required>
                    <span class="edit alignTop">
                        <i class="svg"><svg xmlns="http://www.w3.org/2000/svg" width="12.5" height="12.75" viewBox="0 0 12.5 12.75"><path fill="#0c3" d="M0 10.11v2.64h2.64l7.638-7.715-2.64-2.64L0 10.108zm12.292-7.09c.277-.278.277-.695 0-.973l-1.597-1.6c-.28-.277-.695-.277-.973 0L8.472 1.7l2.64 2.64 1.18-1.32z"/></svg></i>
                    </span>
                    <div class="main-messages" ng-messages="form.channelSettings.title.$error" ng-show="form.channelSettings.title.$touched" role="alert">
                        <div ng-message="required">Название обязательно</div>
                    </div>
                </div><!-- channel name -->

                <!-- channel description -->
                <div class="form__row">
                    <label class="form__title alignTop">Описание канала</label>
                    <textarea cols="30" rows="10" ng-model="channelSettings.description"></textarea>
                    <span class="edit alignTop">
                        <i class="svg"><svg xmlns="http://www.w3.org/2000/svg" width="12.5" height="12.75" viewBox="0 0 12.5 12.75"><path fill="#0c3" d="M0 10.11v2.64h2.64l7.638-7.715-2.64-2.64L0 10.108zm12.292-7.09c.277-.278.277-.695 0-.973l-1.597-1.6c-.28-.277-.695-.277-.973 0L8.472 1.7l2.64 2.64 1.18-1.32z"/>
                        </svg></i>
                    </span>
                </div><!-- channel description -->

                <!-- channel cover -->
                <div class="form__row form__row--image-upload">
                    <div><span class="form__title">Обложка канала</span></div>
                    <img class="bg" src="assets/img/channel_img.png" alt="channel img">
                    <div class="ctrl_box ctrl_box--bg">
                        <div class="btns_wrapp">
                            <input type="file" class="hidden" id="uploadBg" ng-model="channelSettings.cover">
                            <label class="btn btn-white file" for="uploadBg">Загрузить</label>
                            <a href="#" class="btn btn-white btn-remove">
                                <i class="svg"><svg width="10" xmlns="http://www.w3.org/2000/svg" height="11" viewBox="0 0 64 64"><path fill="" d="M28.94 31.786L.614 60.114c-.787.787-.787 2.062 0 2.85.393.393.91.59 1.424.59.516 0 1.03-.197 1.424-.59L32.003 34.42l28.54 28.54c.395.395.91.59 1.425.59s1.03-.195 1.424-.59c.788-.786.788-2.06 0-2.848L35.065 31.786 63.41 3.438c.787-.787.787-2.062 0-2.85-.787-.785-2.062-.785-2.848 0L32.002 29.15 3.443.59C2.653-.196 1.38-.196.59.59c-.786.787-.786 2.062 0 2.85l28.35 28.346z"/></svg></i>
                                Удалить
                            </a>
                        </div>
                        <span>Размер бэкгрунда 3200 на 800 пикселей</span>
                    </div>
                </div><!-- channel cover -->

                <!-- channel avatar -->
                <div class="form__row form__row--image-upload clearfix">
                    <span class="form__title alignTop">Аватар канала</span>
                    <img class="ava" src="assets/img/channel_ava.png" alt="channel img">
                    <div class="ctrl_box">
                        <input type="file" class="hidden" id="uploadAvatar" ng-model="channelSettings.avatar">
                        <label class="btn btn-white file" for="uploadAvatar">Загрузить</label><br>
                        <a class="btn btn-white btn-remove">
                            <i class="svg"><svg width="10" xmlns="http://www.w3.org/2000/svg" height="11" viewBox="0 0 64 64"><path fill="" d="M28.94 31.786L.614 60.114c-.787.787-.787 2.062 0 2.85.393.393.91.59 1.424.59.516 0 1.03-.197 1.424-.59L32.003 34.42l28.54 28.54c.395.395.91.59 1.425.59s1.03-.195 1.424-.59c.788-.786.788-2.06 0-2.848L35.065 31.786 63.41 3.438c.787-.787.787-2.062 0-2.85-.787-.785-2.062-.785-2.848 0L32.002 29.15 3.443.59C2.653-.196 1.38-.196.59.59c-.786.787-.786 2.062 0 2.85l28.35 28.346z"/></svg></i>
                            Удалить
                        </a><br>
                        <span>Размер аватара 498 на 498 пикселей</span>
                    </div>
                </div><!-- channel avatar -->

            </div>
        </div>
        <hr class="block__hr">
    </div><!-- main settings block -->

    <div ng-show="form.channelSettings.$invalid && formTried" class="block">
        <div class="col-xs-12">
            <div class="error">Не все поля заполнены</div>
        </div>
    </div>

    <!-- save button -->
    <div class="block">
        <div class="col-xs-12">
            <span ng-click="saveChannel()" class="btn btn-green main-ui">{{ saving ? 'Проверка данных...' : 'Сохранить'}}</span>
        </div>
    </div>

</form>
