<form name="form.channelPlaylists">

    <!-- youtube sync block -->
    <div class="block">
        <div class="col-xs-12">
            <div class="form">
                <p>Синхонизация с youtube-каналом</p>
                <input type="checkbox" class="hidden" id="sync_youtube" ng-model="channelPlaylists.youtubeSync">
                <label for="sync_youtube" class="ctrl"></label>
            </div>
        </div>
        <hr class="block__hr">
    </div><!-- youtube sync block -->

    <!-- 2nd video settings block -->
    <div class="block">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="form">
                <p>Автоматически публиковать новые видео на канале</p>
                <input class="hidden" type="radio" ng-model="channelPlaylists.publishNewVideos" value="yes" id="publish_yes">
                <label class="radio_label" for="publish_yes">Да</label>
                <input class="hidden" type="radio" ng-model="channelPlaylists.publishNewVideos" value="ask" id="publish_ask">
                <label class="radio_label" for="publish_ask">Спрашивать меня</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="form">
                <p class="hidden-phone">Отправлять уведомления о новых видео мне на почту <strong>(qwerty@gmail.com)</strong></p>
                <input type="checkbox" id="send_info_tabl" ng-model="channelPlaylists.notifications" class="hidden">
                <label for="send_info_tabl" class="check_label"><span class="hidden-desktop hidden-tablet">Отправлять уведомления о новых видео мне на почту <strong>(qwerty@gmail.com)</strong></span></label>
            </div>
        </div>
        <hr class="block__hr">
    </div><!-- 2nd video settings block -->

    <!-- channels accordions -->
    <div class="block">

        <!-- left accordion -->
        <div class="col-xs-12 col-md-6 hidden-tablet hidden-phone">
            <h3>VSP Online</h3>
            <div class="form">
                <input type="text" class="form__search search_vsp" id="search_vsp" ng-model="channel_filter">
                <i class="svg form__icon"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 34 34"><path fill="" d="M34 31.163L25.27 22.43c1.754-2.342 2.804-5.24 2.804-8.394C28.072 6.28 21.79 0 14.037 0 6.287 0 0 6.28 0 14.036 0 21.788 6.286 28.07 14.038 28.07c3.152 0 6.05-1.05 8.392-2.805L31.163 34 34 31.163zM4.013 14.033C4.012 8.507 8.51 4.01 14.037 4.01s10.025 4.496 10.025 10.024c0 5.527-4.498 10.024-10.025 10.024-5.528 0-10.025-4.496-10.025-10.024z"/></svg></i>
            </div>
            <div class="accordion left_accordion">
                <div ng-repeat="item in channelPlaylists.playlists | filter:channel_filter">
                    <div toggler class="left_accordion__item">
                        <i class="svg"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 28.914 16.998"><path fill-rule="evenodd" clip-rule="evenodd" fill="" d="M28.914 2.857L26.057 0l-11.66 11.66L2.83.093 0 2.924l13.98 13.98.35-.348.44.442"/></svg></i>
                        <em ng-bind-html="highlight(item.name, channel_filter)">{{ item.name }}</em>
                        <span>({{item.inner.length}})</span>
                    </div>
                    <div class="accordion__pannel">
                        <div class="accordion__content">
                            <div class="inner_content" ng-repeat="inner in item.inner | filter : channel_filter"
                                ng-bind-html="highlight(inner.name, channel_filter)">
                                {{inner.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- left accordion -->

        <!-- right accordion -->
        <div class="col-xs-12 col-md-6">
            <h3>Структура вашего канала на эй[play]</h3>
            <div class="form">
                <input type="text" class="form__search search_play" id="search_play" ng-model="channel_filter">
                <i class="svg form__icon"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 34 34"><path fill="" d="M34 31.163L25.27 22.43c1.754-2.342 2.804-5.24 2.804-8.394C28.072 6.28 21.79 0 14.037 0 6.287 0 0 6.28 0 14.036 0 21.788 6.286 28.07 14.038 28.07c3.152 0 6.05-1.05 8.392-2.805L31.163 34 34 31.163zM4.013 14.033C4.012 8.507 8.51 4.01 14.037 4.01s10.025 4.496 10.025 10.024c0 5.527-4.498 10.024-10.025 10.024-5.528 0-10.025-4.496-10.025-10.024z"/></svg></i>
            </div>
            <div class="accordion">
                <div sv-root>
                    <div sv-part="channelPlaylists.playlists">
                        <div ng-repeat="item in channelPlaylists.playlists | filter:channel_filter" sv-element class="accordion_item clearfix">
                            <div toggler class="accordion_item__view"
                                ng-class="{'icon_visible' : iconVisible}"
                                ng-mouseenter = "iconVisible = true"
                                ng-mouseleave = "iconVisible = false">
                                <div>
                                    <i class="svg"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 28.914 16.998"><path fill-rule="evenodd" clip-rule="evenodd" fill="" d="M28.914 2.857L26.057 0l-11.66 11.66L2.83.093 0 2.924l13.98 13.98.35-.348.44.442"/></svg></i>
                                    <i ng-bind-html="highlight(item.name, channel_filter)">{{item.name}}</i>
                                    <span>({{item.inner.length}})</span>
                                </div>
                                <div class="icon_set">
                                    <button ng-click="remove(items,item)" class="btn del_btn">
                                        <i class="svg"> <svg class="ctrl_icon" width="17" height="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 418 418"><path d="M265.616 38V0H152.384v38H69v60h280V38h-83.384zm-83.232-8h53.232v8h-53.232v-8zM109 418h200l19.016-290H89.984"/></svg></i>
                                    </button>
                                    <div sv-handle class="sandwich">
                                        <span></span><span></span><span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion__pannel">
                                <div class="accordion__content">
                                    <div sv-root>
                                        <ul sv-part="item.inner">
                                            <li class="accordion_item__view accordion_item__view--inner" sv-element
                                                ng-repeat="inner in item.inner | filter : channel_filter"
                                                ng-mouseleave="iconsVisible = false"
                                                ng-init="editing = false">
                                                <div ng-bind-html="highlight(inner.name, channel_filter)"
                                                    contenteditable="{{ editing }}"
                                                    ng-blur="editing = false"
                                                    class="item_content">
                                                    {{inner.name}}
                                                </div>
                                                <!--<input type="text"-->
                                                <!--ng-class="{'editing' : editableIndex == $index}"-->
                                                <!--id="{{editableIndex == $index ? 'test' : ''}}"-->
                                                <!--ng-readonly="editableIndex == $index ? false : true"-->
                                                <!--ng-blur="disableAndUpdate($parent.$index, $index, $event)"-->
                                                <!--class="item_content"-->
                                                <!--value="{{inner}}">-->
                                                <div class="inner_icons" ng-class="{'visible':iconsVisible}">
                                                    <a href="#" ng-mouseover="iconsVisible = true" class="btn inner_icons__toggler">
                                                        <i class="svg"><svg width="31" height="31" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 290 290"><path d="M255 110c-19.3 0-35 15.7-35 35s15.7 35 35 35 35-15.7 35-35-15.7-35-35-35zM35 110c-19.3 0-35 15.7-35 35s15.7 35 35 35 35-15.7 35-35-15.7-35-35-35zM145 110c-19.3 0-35 15.7-35 35s15.7 35 35 35 35-15.7 35-35-15.7-35-35-35z"/></svg></i>
                                                    </a>
                                                    <div class="wrp">
                                                        <button class="btn btn_show_hide" ng-click="inner.hidden = !inner.hidden">
                                                            <i ng-class="{'hidden' : inner.hidden}" class="svg">
                                                                <svg width="29" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 455 455"><path d="M81.177 227.5c0-46.992 22.272-88.875 56.81-115.665C79.526 133.03 30.728 174.382 0 227.5c30.73 53.118 79.526 94.47 137.986 115.665-34.537-26.79-56.81-68.673-56.81-115.665z"/><path d="M227.5 111.177c-64.14 0-116.323 52.183-116.323 116.323S163.36 343.823 227.5 343.823 343.823 291.64 343.823 227.5 291.64 111.177 227.5 111.177zm0 151.323c-19.33 0-35-15.67-35-35s15.67-35 35-35 35 15.67 35 35-15.67 35-35 35z"/><path d="M317.014 111.835c34.537 26.79 56.81 68.673 56.81 115.665s-22.273 88.875-56.81 115.665C375.474 321.97 424.27 280.618 455 227.5c-30.73-53.118-79.526-94.47-137.986-115.665z"/></svg>
                                                            </i>
                                                            <i ng-class="{'hidden': !inner.hidden}" class="svg">
                                                                <svg width="29" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 476.208 476.208"><path d="M0 21.213L21.213 0l454.995 454.995-21.213 21.213L0 21.213zM354.43 238.104c0-64.14-52.182-116.323-116.322-116.323-15.573 0-30.437 3.085-44.024 8.66L345.77 282.13c5.577-13.587 8.66-28.45 8.66-44.024z"/><path d="M384.43 238.104c0 23.978-5.797 46.627-16.064 66.62l18.518 18.517c32.142-22.135 59.114-51.238 78.724-85.136-30.73-53.118-79.526-94.47-137.986-115.665 34.536 26.79 56.81 68.672 56.81 115.664zM121.784 238.104c0 64.14 52.183 116.323 116.323 116.323 15.573 0 30.437-3.084 44.024-8.66L130.445 194.08c-5.576 13.588-8.66 28.452-8.66 44.024z"/><path d="M91.784 238.104c0-23.978 5.798-46.627 16.065-66.62l-18.52-18.517c-32.14 22.136-59.113 51.24-78.723 85.137 30.73 53.118 79.526 94.47 137.986 115.665-34.537-26.79-56.81-68.673-56.81-115.666z"/></svg>
                                                            </i>
                                                        </button>
                                                        <button class="btn btn_edit" ng-click="editing = !editing">
                                                            <i class="svg">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12.5" height="12.75" viewBox="0 0 12.5 12.75"><path d="M0 10.11v2.64h2.64l7.638-7.715-2.64-2.64L0 10.108zm12.292-7.09c.277-.278.277-.695 0-.973l-1.597-1.6c-.28-.277-.695-.277-.973 0L8.472 1.7l2.64 2.64 1.18-1.32z"/></svg>
                                                            </i>
                                                        </button>
                                                        <button ng-click="remove(item.inner,inner)" class="btn del_btn">
                                                            <i class="svg"><svg class="ctrl_icon" width="15" height="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 418 418"><path d="M265.616 38V0H152.384v38H69v60h280V38h-83.384zm-83.232-8h53.232v8h-53.232v-8zM109 418h200l19.016-290H89.984"/></svg></i>
                                                        </button>
                                                        <div sv-handle class="sandwich">
                                                            <span></span><span></span><span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- right accordio -->
        <hr class="block__hr">
    </div><!-- channels accordions -->

    <!-- <div ng-show="form.channelPlaylists.$invalid && formTried" class="block">
        <div class="col-xs-12">
            <div class="error">Не все поля заполнены</div>
        </div>
    </div> -->

    <!-- save button -->
    <div class="block">
        <div class="col-xs-12">
            <span ng-click="savePlaylists()" class="btn btn-green main-ui">{{ saving ? 'Проверка данных...' : 'Сохранить'}}</span>
        </div>
    </div>

</form>
