<div class="content settings" autoscroll='true'>
    <div class="row">

        <!-- settings page header -->
        <div class="block block--header">
            <div class="col-xs-12 block__heading--ratings">
                <div class="clearfix">
                    <h2 class="block__title">Настройки канала</h2>
                </div>
                <div class="clearfix">
                    <tabs class="tabs fw tabs--fullwidth">
                        <a ui-sref=".main" ui-sref-active="active">Основные настройки</a>
                        <hr class="block__hr hidden-tablet hidden-desktop">
                        <a ui-sref=".playlists" ui-sref-active="active">Работа с видео и плейлистами</a>
                        <hr class="block__hr hidden-tablet hidden-desktop">
                    </tabs>
                </div>
            </div>
            <hr class="block__hr hidden-phone">
        </div><!-- settings page header -->

        <!-- settings views -->
        <div ui-view></div>

    </div>
</div>
