<div class="content settings">
    <div class="row">

        <div class="block block--header">
            <div class="col-xs-12 block__heading">
                <h2 class="block__title">Настройки видео</h2>
            </div>
            <hr class="block__hr">
        </div> <!-- end block -->

        <div class="block">
            <div class="col-xs-12">
                <div class="form">
                    <div class="form__row">
                        <label class="form__title">URL видео:</label>
                        <input disabled type="text" value="https://www.youtube.com/watch?v=HQx5Be9g16U">
                    </div>
                    <div class="form__row">
                        <label class="form__title"></label>
                        <div class="about_video">
                            <img class="about_video__chevron" src="assets/img/chevronb.png" alt="chevron">
                            <img class="about_video__preview" src="assets/img/video_thumb.png" alt="video preview">
                            <div class="about_video__text">
                                <p class="sb_title">10 Amazing Science Tricks Using Liquid!</p>
                                <p class="text">Add me on Facebook (click LIKE on Facebook to add me) -
                                    http://www.facebook.com/brusspup
                                    Download the music in this video:
                                    Song #1: Abyss - iTunes: https://itunes.apple.com/us/album/aby.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="block__hr">
        </div> <!-- end block -->

        <div class="block">
            <div class="col-xs-12">
                <div class="form">
                    <div class="form__row">
                        <span class="form__title">Показывать <br>на эй[play]</span>
                        <input class="hidden" type="radio" value="yes" name="publish_on_channel" id="publish_yes">
                        <label class="radio_label" for="publish_yes">Показывать</label>
                        <br class="hidden-tablet hidden-desktop"><br class="hidden-tablet hidden-desktop">
                        <input class="hidden" type="radio" value="ask" name="publish_on_channel" id="publish_ask">
                        <label class="radio_label" for="publish_ask">Скрыть</label>
                    </div>
                    <div class="form__row">
                        <label class="form__title">Название видео</label>
                        <input type="text" ng-readonly="nameReadOnly" value="10 Amazing Science Tricks Using Liquid!" name="video_name">
                        <span ng-click="nameReadOnly = !nameReadOnly" class="edit">
                            <i class="svg"><svg xmlns="http://www.w3.org/2000/svg" width="12.5" height="12.75" viewBox="0 0 12.5 12.75"><path fill="#0c3" d="M0 10.11v2.64h2.64l7.638-7.715-2.64-2.64L0 10.108zm12.292-7.09c.277-.278.277-.695 0-.973l-1.597-1.6c-.28-.277-.695-.277-.973 0L8.472 1.7l2.64 2.64 1.18-1.32z"/></svg></i>
                        </span>
                    </div>
                    <div class="form__row">
                        <label class="form__title alignTop">Описание видео</label>
                        <textarea ng-readonly="descriptionReadOnly" cols="30" rows="10"></textarea>
                        <span ng-click="nameReadOnly = !nameReadOnly" class="edit alignTop">
                            <i class="svg"><svg xmlns="http://www.w3.org/2000/svg" width="12.5" height="12.75" viewBox="0 0 12.5 12.75"><path fill="#0c3" d="M0 10.11v2.64h2.64l7.638-7.715-2.64-2.64L0 10.108zm12.292-7.09c.277-.278.277-.695 0-.973l-1.597-1.6c-.28-.277-.695-.277-.973 0L8.472 1.7l2.64 2.64 1.18-1.32z"/></svg></i>
                        </span>
                    </div>
                    <div class="form__row form__row--image-upload">
                        <span class="form__title alignTop">Превью видео</span>
                        <img class="video-preview" src="assets/img/video-img.png" alt="video preview">
                        <div class="ctrl_box">
                            <button class="btn btn-white">Обновить</button><br class="hidden-phone">
                            <button class="btn btn-white">Оригинал</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="block__hr">
        </div>

        <div class="block">
            <div class="col-xs-12">
                <div class="form">
                    <div class="form__row" ng-init="cats = ['cat1', 'cat2']">
                        <span class="form__title">Категория:</span>
                        <div class="select" tabindex="0" ng-class="{'active':selectActive}" ng-blur="selectActive = false">
                            <i class="svg"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="22" viewBox="0 0 28.914 16.998"><path fill-rule="evenodd" clip-rule="evenodd" fill="" d="M28.914 2.857L26.057 0l-11.66 11.66L2.83.093 0 2.924l13.98 13.98.35-.348.44.442"/></svg></i>
                            <span class="select__title" ng-click="selectActive = !selectActive;">{{ selectedSortType || 'Общее' }}</span>
                            <div class="select__list">
                                <ul>
                                    <li ng-repeat="sortType in cats" ng-click="$parent.selectedSortType = sortType">{{ sortType }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="block__hr">
        </div>

        <div class="block">
            <div class="col-xs-12">
                <div class="form">
                    <div class="form__row">
                        <span class="form__title">Плейлист</span>
                        <input type="checkbox" id="all_video" name="all_video" class="hidden">
                        <label for="all_video" class="check_label">Все видео</label>
                    </div>
                    <div class="form__row">
                        <span class="form__title"></span>
                        <input type="checkbox" id="pranks" name="pranks" class="hidden">
                        <label for="pranks" class="check_label">Пранк шоу</label>
                    </div>
                    <div class="form__row">
                        <span class="form__title"></span>
                        <input type="checkbox" id="other" name="other" class="hidden">
                        <label for="other" class="check_label">Видеобаттлы с другими каналами</label>
                    </div>
                    <div class="form__row">
                        <span class="form__title"></span>
                        <input type="checkbox" id="days_history" name="days_history" class="hidden">
                        <label for="days_history" class="check_label">История одного дня</label>
                    </div>
                </div>
            </div>
            <hr class="block__hr">
        </div>

        <!-- bottom buttons -->
        <div class="block">
            <div class="col-xs-12">
                <span class="btn btn-white btn-cancel marginRight10">
                    <i class="svg"><svg xmlns="http://www.w3.org/2000/svg" width="6.008" height="10.232" viewBox="0 0 6.008 10.232"><path d="M6.008 9.053l-3.715-3.82 3.715-3.82L4.862.233 0 5.233l4.86 5 1.148-1.18z"/></svg></i>
                    Отменить
                </span>
                <span class="btn btn-green main-ui">Сохранить</span>
            </div>
        </div><!-- bottom buttons -->

    </div>
</div>
