<!-- history viewed -->
<div class="block">
    <div class="col-xs-12">

        <div class="row" ng-repeat="video in historyData | limitTo: limits.videos">
            <div class="col-xs-12 col-md-1 history__date">
                <span ng-hide="historyFilter(historyData,$index,'date')">{{ getDate(video.date,1) }}</span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
                <div class="thumb row">
                    <div class="col-xs-12 col-sm-2 col-md-2 right-desktop">
                        <span class="history__time">18:30</span>
                        <span class="close" ng-click="remove(historyData,video)"><svg width="15" xmlns="http://www.w3.org/2000/svg" height="15" viewBox="0 0 64 64"><path fill="" d="M28.94 31.786L.614 60.114c-.787.787-.787 2.062 0 2.85.393.393.91.59 1.424.59.516 0 1.03-.197 1.424-.59L32.003 34.42l28.54 28.54c.395.395.91.59 1.425.59s1.03-.195 1.424-.59c.788-.786.788-2.06 0-2.848L35.065 31.786 63.41 3.438c.787-.787.787-2.062 0-2.85-.787-.785-2.062-.785-2.848 0L32.002 29.15 3.443.59C2.653-.196 1.38-.196.59.59c-.786.787-.786 2.062 0 2.85l28.35 28.346z"/></svg></span>
                    </div>
                    <div class="col-xs-7 col-sm-5 col-md-5">
                        <div class="thumb__img">
                            <a ui-sref="video({ url: videos[$index].url })">
                                <span class="thumb__length">{{ video.length }}</span>
                                <img ng-src="{{ video.img }}" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5">
                        <p class="thumb__title"><a href="">{{ video.title }}</a></p>
                        <span class="thumb__count"><span class="thumb__number">{{ video.count | number }}</span> просмотров</span>
                        <span class="thumb__date"><span class="thumb__number">{{ getDate(video.date) }}</span></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="block center">
    <a class="btn btn-more" ng-click="loadMore('videos')">ЗАГРУЗИТЬ ЕЩЕ</a>
</div>
