<div class="content" autoscroll='true'>
    <div class="row">

        <!-- history header -->
        <div class="block block--header">
            <div class="col-xs-12 block__heading--ratings">
                <div class="clearfix">
                    <h2 class="block__title">История</h2>
                    <div class="" style="float:right">
                        <a ng-click="remove(videosHistory,'all')" class="btn btn-white">Очистить историю просмотров</a>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="tabs">
                        <a ui-sref="history.viewed" ui-sref-active="active">Просмотренные</a>
                        <a ui-sref="history.liked" ui-sref-active="active">Понравившиеся</a>
                    </div>
                </div>
            </div>
            <hr class="block__hr">
        </div>

        <!-- history views -->
        <div ui-view></div>

    </div>
</div>
