<div class="content" autoscroll='true'>
    <div class="row">


        <!-- exclusive page header -->
        <div class="block block--header">
            <div class="col-xs-12">
                <h2 class="block__title block__title--50">Новые видео</h2>
                <div class="block__btn block__btn--50">
                    <div class="block__select block__select--exclusive">
                        <div ng-class="{'hidden-visibility':$state.includes('ratings.channels')}">
                            <span class="category-caption">Категория:</span>
                            <div class="select" tabindex="0" ng-class="{'active':selectActive}" ng-blur="selectActive = false">
                                <i class="svg"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="22" viewBox="0 0 28.914 16.998"><path fill-rule="evenodd" clip-rule="evenodd" fill="" d="M28.914 2.857L26.057 0l-11.66 11.66L2.83.093 0 2.924l13.98 13.98.35-.348.44.442"/></svg></i>
                                <span class="select__title" ng-click="selectActive = !selectActive;">{{ selectedCategory || 'Все категории видео' }}</span>
                                <div class="select__list">
                                    <ul>
                                        <li ng-click="selectedCategory = undefined">Все категории видео</li>
                                        <li ng-repeat="category in categories" ng-click="$parent.selectedCategory = category">{{ category }}</li>
                                        <!-- $parent.selectActive = false -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="block__hr">
        </div>

        <!-- exclusive videos block -->
        <div class="block block--white">
            <div class="col-xs-6 col-sm-4 col-md-3"
                 ng-repeat="video in newVideos | filter: selectedCategory ">
                <div class="thumb thumb--exclusive">
                    <a ui-sref="videos({ id: video.id })">
                        <div class="thumb__img">
                            <span class="thumb__length">{{ video.length | secondsToTime}}</span>
                            <img ng-src="{{ video.img }}" alt="" />
                        </div>
                    </a>
                    <div class="thumb__description">
                        <p class="thumb__title"><a href="">{{ video.title }}</a></p>
                        <p class="thumb__user"><a href="#">{{ video.user }}</a></p>
                        <p class="thumb__info hidden-phone">
                            <span class="thumb__count"><span class="thumb__number">{{ video.count | number }}</span> просмотров</span>
                            <span class="thumb__date"><span class="thumb__number">{{ getDate(video.date)  }}</span></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="block center">
            <a class="btn btn-more" ng-click="loadMore()">ЗАГРУЗИТЬ ЕЩЕ</a>
        </div>

    </div>
</div>
