<div class="decor_spage">
    <h1>Оформление заказа</h1>
    <div class="decor_spage_wrapper">
        <h1>Способ оплаты</h1>
        <div class="container">
            <form action="" method='post'>
                <ul>
                    <li>
                        <input type="radio" id="option-1" name="selector" checked>
                        <label for="option-1">Оплатить позже (сохранить заказ)</label>
                        <div class="check"></div>
                    </li>
                    <li>
                        <input type="radio" id="option-2" name="selector">
                        <label for="option-2">Оплата картами Visa/MasterCard</label> <span>Visa / MasterCard и другин удобные способы оплаты из любой точки мира</span>
                        <div class="check">
                            <div class="inside"></div>
                        </div>
                    </li>
                    <li>
                        <input type="radio" id="option-3" name="selector">
                        <label for="option-3">Visa QIWI Wallet</label>
                        <div class="check">
                            <div class="inside"></div>
                        </div>
                    </li>
                    <li>
                        <input type="radio" id="option-4" name="selector">
                        <label for="option-4">Платеж из любой точки мира (Swift)</label>
                        <div class="check">
                            <div class="inside"></div>
                        </div>
                    </li>
                    <li>
                        <input type="radio" id="option-5" name="selector">
                        <label for="option-5">WebMoney - WMZ</label> <span>Оплата электронными деньгами WMZ (эквивалент доллара США) по системе webmoney.ru</span>
                        <div class="check">
                            <div class="inside"></div>
                        </div>
                    </li>
                    <li>
                        <input type="radio" id="option-6" name="selector">
                        <label for="option-6">WebMoney - WMU</label>
                        <span>Оплата электронными деньгами WMU (эквивалент украинской гривни) по системе webmoney.ru</span>
                        <div class="check">
                            <div class="inside"></div>
                        </div>
                    </li>
                    <li>
                        <input type="radio" id="option-7" name="selector">
                        <label for="option-7">WebMoney - WMR</label>
                        <span>Оплата электронными деньгами WMR (эквивалент российского рубля) по системе webmoney.ru</span>
                        <div class="check">
                            <div class="inside"></div>
                        </div>
                    </li>
                    <li>
                        <input type="radio" id="option-8" name="selector">
                        <label for="option-8">Терминалы моментальной оплаты (Украина)</label>
                        <span>Моментальная оплата заказа без очередей во всех регионах Украины. Комиссия агена 5%.</span>
                        <div class="check">
                            <div class="inside"></div>
                        </div>
                    </li>
                    <li>
                        <input type="radio" id="option-9" name="selector">
                        <label for="option-9">Банковской картой ( ПриватБанк / Visa / MasterCard / LiqPay)</label>
                        <span>Оплата с банковской карты через платежный сервис LiqPAY и Приват24</span>
                        <div class="check">
                            <div class="inside"></div>
                        </div>
                    </li>
                </ul>
                <button class="accept-btn">Выбрать</button>
            </form>
        </div>
        <div class="preview ">
            <h2>2 200 руб.</h2>
            <div class="preview__item">
                <div class="img_wrp"> <img src="../../assets/img/tshort1.png" alt="shirt"> </div>
                <div class="about_purchase">
                   <h1>Футболка "Отодран"</h1>
                    <div class="prop_purchase">
                        <p>Черный</p>
                        <p>XI</p>
                        <p>$10.00</p>
                    </div>
                </div>
            </div>
               <div class="preview__item">
                <div class="img_wrp"> <img src="../../assets/img/tshort1.png" alt="shirt"> </div>
                <div class="about_purchase">
                   <h1>Бейсболка Myghtycarmods на русском от BMI Russian </h1>
                    <div class="prop_purchase">
                        <p>Черный</p>
                        <p>XI</p>
                        <p>$12.50</p>
                    </div>
                </div>
            </div>
            <button class="edit_purchase">Редактировать заказ</button>
        </div>
        </div>
    </div>
</div>