<div class="decor">
    <h1>Оформление заказа</h1>
    <div class="decor__content">
        <div class="decor__content__form">
            <label for="name">Имя , Фамилия</label>
            <input type="text" placeholder="Введите" id="name">
            <label for="country">Страна</label>
            <input type="text" placeholder="Введите" id="country">
            <label for="city">Город</label>
            <input type="text" placeholder="Введите" id="city">
            <label for="adress">Адрес</label>
            <input type="text" placeholder="Введите" id="adress">
            <label for="zip">ZIP код</label>
            <input type="text" placeholder="Введите" id="zip">
            <label for="email">Email</label>
            <input type="text" placeholder="Введите" id="email">
            <label for="number">Номер телефона</label>
            <input type="text" placeholder="Введите" id="number"> </div>
        <div class="preview preview-f">
            <h2>2 200 руб.</h2>
            <div class="preview__item">
                <div class="img_wrp"> <img src="../../assets/img/tshort1.png" alt="shirt"> </div>
                <div class="about_purchase">
                   <h1>Футболка "Отодран"</h1>
                    <div class="prop_purchase">
                        <p>Черный</p>
                        <p>XI</p>
                        <p>$10.00</p>
                    </div>
                </div>
            </div>
               <div class="preview__item">
                <div class="img_wrp"> <img src="../../assets/img/tshort1.png" alt="shirt"> </div>
                <div class="about_purchase">
                   <h1>Бейсболка Myghtycarmods на русском от BMI Russian </h1>
                    <div class="prop_purchase">
                        <p>Черный</p>
                        <p>XI</p>
                        <p>$12.50</p>
                    </div>
                </div>
            </div>
            <button class="edit_purchase">Редактировать заказ</button>
        </div>
    </div>
</div>
<div class="btn-wrp">
   <form action="">
     <button class="form-accept">Далее</button>
    </form>
</div>
</div>