<div class="registration">
    <div class="registration__nav_box clearfix">
        <tabs class="tabs reg">
            <a ui-sref="reg" ui-sref-active="active">Регистрация</a>
            <a ui-sref="sign-in" ui-sref-active="active">Войти</a>
            <div class="tabs__underline"></div>
        </tabs>
    </div>
    <div class="registration__logo_row clearfix">
        <img src="assets/img/logo.png" alt="logo">
        <span>Вы можете использовать данные для входа с VSP Online</span>
        <div class="mob_btn pull-right hidden-desktop hidden-tablet">
            <a class="btn btn-google">Google +</a>
            <a class="btn btn-vk">Vk</a>
            <a class="btn btn-fb">Fb</a>
        </div>
    </div>
    <form id="reg-form" action="">
        <div class="registration__sign_in_options options">
            <div class="options__soc_bar clearfix">
                <span class="hidden-phone">Авторизация <br> через соц сети</span>
                <div class="pull-right hidden-phone">
                    <a class="btn btn-google">Google +</a>
                    <a class="btn btn-vk">Vk</a>
                    <a class="btn btn-fb">Fb</a>
                </div>
            </div>
            <div class="hidden-phone"><span class="line"></span> <span>или</span> <span class="line"></span></div>
            <div class="options__form">
                <div class="inp_row">
                    <label for="email">Email</label> <input type="email" id="email" name="email">
                </div>
                <div class="inp_row">
                    <label for="password">Пароль</label> <input type="password" id="password" name="password">
                </div>
                <div class="inp_row">
                    <label for="password_confirm">Подтвердить <br class="hidden-phone"> пароль</label> <input type="password" id="password_confirm" name="password_confirm">
                </div>
                <div class="inp_row">
                    <label for="nick_name">Никнейм <br class="hidden-phone"> <span class="not_mandatory">(не обязательно)</span></label> <input type="text" id="nick_name" name="nick_name">
                </div>
            </div>
        </div>
        <div class="options__form bottom">
            <p class="reg_info">Регистрируя новый аккаунт, вы принимаете условия <br> <a href="#" class="btn">пользовательского соглашения</a></p>
            <div class="inp_row">
                <a href="#" class="btn btn-green main-ui full_width">Регистрация</a>
            </div>
        </div>
    </form>
</div>