<!-- search video -->
<div class="block">
    <div class="col-xs-12">

        <div class="row">
            <div class="result_row">
                <div class="result_row__left col-xs-12 col-md-1 hidden-tablet hidden-phone">
                    <div class="history__date">
                        <span>Видео</span>
                    </div>
                </div>
                <div class="result_row__right col-xs-12 col-sm-12 col-md-8 col-lg-6">
                    <div class="history__date type hidden-desktop">
                        <span>Видео</span>
                    </div>
                    <div ng-repeat="video in historyData | limitTo: 2" class="">
                        <div class="thumb row">
                            <div class="col-xs-7 col-sm-5 col-md-3">
                                <div class="thumb__img">
                                    <a ui-sref="videos({ id: video.id })">
                                        <span class="thumb__length">{{ video.length | secondsToTime}}</span>
                                        <img ng-src="{{ video.img }}" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-5 col-sm-5 col-md-3">
                                <p class="thumb__title"><a href="">{{ video.title }}</a></p>
                                <span class="thumb__count"><span class="thumb__number">{{ video.count | number }}</span> просмотров</span>
                                <span class="thumb__date"><span class="thumb__number">{{ getDate(video.date) }}</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->

    </div>
</div>
