<!-- search all -->
<div class="block">
    <div class="col-xs-12">

        <div class="row">
            <div class="result_row">
                <div class="result_row__left col-xs-12 col-md-1 hidden-tablet hidden-phone">
                    <div class="history__date">
                        <span>Видео</span>
                    </div>
                </div>
                <div class="result_row__right col-xs-12 col-sm-12 col-md-8 col-lg-6">
                    <div class="history__date type hidden-desktop">
                        <span>Видео</span>
                    </div>
                    <div ng-repeat="video in historyData | limitTo: 2" class="">
                        <div class="row">
                            <div class="col-xs-7 col-sm-5 col-md-3">
                                <div class="thumb__img">
                                    <a ui-sref="videos({ id: video.id })">
                                        <span class="thumb__length">{{ video.length | secondsToTime}}</span>
                                        <img ng-src="{{ video.img }}" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-5 col-sm-6 col-md-3">
                                <p class="thumb__title"><a href="">{{ video.title }}</a></p>
                                <span class="thumb__count"><span class="thumb__number">{{ video.count | number }}</span> просмотров</span>
                                <span class="thumb__date"><span class="thumb__number">{{ getDate(video.date) }}</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->

        <div class="row">
            <div class="col-xs-12 mobile-center">
                <hr class="block__hr">
            </div>
        </div>

        <div class="row">
            <div class="result_row">
                <div class="result_row__left col-xs-12 col-md-1 hidden-tablet hidden-phone">
                    <div class="history__date">
                        <span>Каналы</span>
                    </div>
                </div>
                <div class="result_row__right col-xs-12 col-sm-12 col-md-8 col-lg-6">
                    <div class="history__date type hidden-desktop">
                        <span>Каналы</span>
                    </div>
                    <div>
                        <div class="row clearfix">
                            <div class="thumb thumb--chan search_thumb pull-left">
                                <div class="thumb__img">
                                    <a href="#">
                                        <img ng-src="assets/img/ball-58.png" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-7 col-xs-6 pull-left">
                                <div class="thumb thumb--chan search_thumb">
                                    <p class="thumb__name"><a href="">Smosh</a><a href="#" class="btn btn-green btn-small hidden-phone">Подписаться</a> <span class="thumb__subs">11 223 22</span> <a href="#" class="btn btn-green btn-small hidden-desktop hidden-tablet">Подписаться</a></p>
                                    <p class="thumb_text hidden-phone">UBSCRIBE ►► http://smo.sh/SmoshSub
                                        WATCH THE FIRST EPISODE NOW ►► http://smo.sh/1OLqJdT
                                        SMOSH’S “PART TIMERS” is a new series about the dysfunctional </p>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="thumb thumb--chan search_thumb pull-left">
                                <div class="thumb__img">
                                    <a href="#">
                                        <img ng-src="assets/img/ball-58.png" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-7 col-xs-6 pull-left">
                                <div class="thumb thumb--chan search_thumb">
                                    <p class="thumb__name"><a href="">Smosh</a><a href="#" class="btn btn-green btn-small hidden-phone">Подписаться</a> <span class="thumb__subs">11 223 22</span> <a href="#" class="btn btn-green btn-small hidden-desktop hidden-tablet">Подписаться</a></p>
                                    <p class="thumb_text hidden-phone">UBSCRIBE ►► http://smo.sh/SmoshSub
                                        WATCH THE FIRST EPISODE NOW ►► http://smo.sh/1OLqJdT
                                        SMOSH’S “PART TIMERS” is a new series about the dysfunctional </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->

        <div class="row">
            <div class="col-xs-12 mobile-center">
                <hr class="block__hr">
            </div>
        </div>

        <div class="row">
            <div class="result_row">
                <div class="result_row__left col-xs-12 col-md-1 hidden-tablet hidden-phone">
                    <div class="history__date">
                        <span>Статьи</span>
                    </div>
                </div>
                <div class="result_row__right col-xs-12 col-sm-12 col-md-8 col-lg-6">
                    <div class="history__date type hidden-desktop">
                        <span>Статьи</span>
                    </div>
                    <div class="article_thumb">
                        <div class="thumb row clearfix">
                            <div class="article_thumb__article_preview pull-left">
                                <img src="assets/img/article_preview.png" alt="article preview">
                            </div>
                            <div class="col-md-6 col-sm-8 col-xs-6 pull-left">
                                <div class="article_thumb__article_description">
                                    <h3>10 примеров, доказывающих, что год может изменить все</h3>
                                    <p>Мотивация и пример для каждого!</p>
                                    <p>
                                        <span class="thumb__date"><span class="thumb__number">Вчера</span></span>
                                        <span class="thumb__hasvideo">Содержит Видео</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->

    </div>
</div>
