<div class="block">
    <div class="col-xs-12 settings">

        <div class="settings__row">
            <p>Синхонизация с youtube-каналом</p>
            <input type="checkbox" class="hidden" id="sync_youtube_channel" name="sync_youtube_channel">
            <label for="sync_youtube_channel" class="ctrl"></label>
        </div>

        <hr class="block__hr">

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="left_list">
                    <div class="accordion">
                        <div>
                            <div>
                                <div ng-repeat="item in items">
                                    <div toggler>{{item.name}} ( {{item.items.length}} )</div>
                                    <div class="accordion__pannel">
                                        <div class="accordion__content">
                                            <div>
                                                <div>
                                                    <div ng-repeat="inner in item.items">
                                                        {{inner}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="right_list">
                    <h3>Структура вашего канала на эй[play]</h3>
                    <input type="text" class="search_play" id="search_play" ng-model="channel_filter">
                    <div class="accordion">
                        <div sv-root>
                            <div sv-part="items">
                                <div ng-repeat="item in items | filter : channel_filter" sv-element class="accordion_item clearfix">
                                    <div toggler ng-class="{'icon_visible' : showMainIcon}"  class="accordion_item__view"
                                         ng-mouseenter = "showMainIcon = true"
                                         ng-mouseleave = "showMainIcon = false"
                                    >
                                        <i class="svg"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 28.914 16.998"><path fill-rule="evenodd" clip-rule="evenodd" fill="" d="M28.914 2.857L26.057 0l-11.66 11.66L2.83.093 0 2.924l13.98 13.98.35-.348.44.442"/></svg></i>
                                        <i ng-bind-html="highlight(item.name, channel_filter)">{{item.name}}</i> <span>({{item.items.length}})</span>
                                        <div class="icon_set">
                                            <button  ng-click="removeItem($index)" class="btn del_btn">
                                                <i class="svg"> <svg class="ctrl_icon" width="17px" height="15px" fill="" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 418 418" style="enable-background:new 0 0 418 418;" xml:space="preserve"><g><path d="M265.616,38V0H152.384v38H69v60h280V38H265.616z M182.384,30h53.232v8h-53.232V30z"/><polygon points="109,418 309,418 328.016,128 89.984,128 	"/></g></svg></i>
                                            </button>
                                            <div sv-handle class="sandwich">
                                                <span></span><span></span><span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion__pannel">
                                        <div class="accordion__content">
                                            <div sv-root>
                                                <ul sv-part="item.items">
                                                    <li class="accordion_item__view accordion_item__view--inner" sv-element
                                                        ng-repeat="inner in item.items | filter : channel_filter"
                                                        ng-mouseleave="hideInnerICons($event)"
                                                    >
                                                        <div ng-bind-html="highlight(inner, channel_filter)"
                                                             ng-class="{'editing' : editableIndex == $index}"
                                                             contenteditable="{{editableIndex == $index}}"
                                                             ng-blur="disableAndUpdate($parent.$index, $index, $event)"
                                                             class="item_content">{{inner}}</div>
                                                        <!--<input type="text"-->
                                                               <!--ng-class="{'editing' : editableIndex == $index}"-->
                                                               <!--id="{{editableIndex == $index ? 'test' : ''}}"-->
                                                               <!--ng-readonly="editableIndex == $index ? false : true"-->
                                                               <!--ng-blur="disableAndUpdate($parent.$index, $index, $event)"-->
                                                               <!--class="item_content"-->
                                                               <!--value="{{inner}}">-->
                                                        <div class="inner_icons">
                                                            <a href="#" ng-mouseover="showInnerIcons($event)" class="btn inner_icons__toggler">
                                                                <i class="svg"><svg width="31px" height="31px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 290 290" style="enable-background:new 0 0 290 290;" xml:space="preserve"><g><path d="M255,110c-19.299,0-35,15.701-35,35s15.701,35,35,35s35-15.701,35-35S274.299,110,255,110z"/><path d="M35,110c-19.299,0-35,15.701-35,35s15.701,35,35,35s35-15.701,35-35S54.299,110,35,110z"/><path d="M145,110c-19.299,0-35,15.701-35,35s15.701,35,35,35s35-15.701,35-35S164.299,110,145,110z"/></g></svg></i>
                                                            </a>
                                                            <div class="wrp">
                                                                <button class="btn btn_edit" ng-click="editMode($index)">
                                                                    <i class="svg">
                                                                        <svg version="1.1" id="Шар_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12.5px" height="12.75px" viewBox="0 0 12.5 12.75" enable-background="new 0 0 12.5 12.75" xml:space="preserve"><path fill="" d="M0,10.109v2.641h2.639l7.639-7.715L7.639,2.394L0,10.109L0,10.109z M12.292,3.02c0.277-0.278,0.277-0.695,0-0.973l-1.597-1.599c-0.279-0.278-0.695-0.278-0.973,0l-1.25,1.251l2.639,2.641L12.292,3.02L12.292,3.02z"/></svg>
                                                                    </i>
                                                                </button>
                                                                <button  ng-click="removeItem($parent.$index, $index)" class="btn del_btn">
                                                                    <i class="svg"> <svg class="ctrl_icon" width="17px" height="15px" fill="" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 418 418" style="enable-background:new 0 0 418 418;" xml:space="preserve"><g><path d="M265.616,38V0H152.384v38H69v60h280V38H265.616z M182.384,30h53.232v8h-53.232V30z"/><polygon points="109,418 309,418 328.016,128 89.984,128 	"/></g></svg></i>
                                                                </button>
                                                                <div sv-handle class="sandwich">
                                                                    <span></span><span></span><span></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- test page -->
    </div>
</div>