<div class="content" autoscroll='true'>
    <div class="row">
        <div class="block block--header">
            <div class="col-xs-12 block__heading--ratings">
                <div class="clearfix">
                    <h2 class="block__title">Настройки канала</h2>
                </div>
                <div class="clearfix">
                    <tabs class="tabs">
                        <a ui-sref="settings.main" ui-sref-active="active">Основные настройки</a>
                        <a ui-sref="settings.video" ui-sref-active="active">Работа с видео и плейлистами</a>
                        <div class="tabs__underline"></div>
                    </tabs>
                </div>
            </div>
            <hr class="block__hr">
        </div>


        <!-- settings views -->
        <div ui-view></div>
    </div>
</div>




