<div class="content video_page" autoscroll='true' ng-controller="VideoPageCtrl">

    <div class="player_box hidden-phone">
        <div class="col-xs-12" >
            <!--<h1>{{ content.title }}</h1>-->
            <!--<hr/>-->
            <p class="">Плейлист:</p>
            <div class="select select--video-page" tabindex="0" ng-class="{'active':selectActive}" ng-blur="selectActive = false">
                <i class="svg"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="22" viewBox="0 0 28.914 16.998"><path fill-rule="evenodd" clip-rule="evenodd" fill="" d="M28.914 2.857L26.057 0l-11.66 11.66L2.83.093 0 2.924l13.98 13.98.35-.348.44.442"/></svg></i>
                <span class="select__title select__title--video-page" ng-click="selectActive = !selectActive;">{{ selectedCategory || 'Все видео' }}</span>
                <div class="select__list">
                    <ul>
                        <li ng-click="selectedCategory = undefined">Все видео</li>
                        <li ng-click="$parent.selectedCategory = Cat1">Cat 1</li>
                        <li ng-click="$parent.selectedCategory = Cat2">Cat 2</li>
                        <!-- $parent.selectActive = false -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="video_slider">
        <div class="">

            <!-- left preview -->
            <div class="video_slider__item video_slider__item--left col-md-2 hidden-tablet hidden-phone">
                <div class="thumb__img">
                    <span class="thumb__length">4:25</span>
                    <img alt="" ng-src="https://i.ytimg.com/vi/BBhZPWmXUtE/maxresdefault.jpg" src="https://i.ytimg.com/vi/BBhZPWmXUtE/maxresdefault.jpg">
                </div>
                <a href="#" class="btn btn-video-ctrl">
                    <img class="prev" src="assets/img/video-prev-icon.png" alt="prev icon">
                    <span>Предыдущее</span>
                </a>
                <p class="th_description">Тыквы-зомби / пранк</p>
            </div>

            <!-- main video slide -->
            <div class="video_slider__item video_slider__item--main col-md-8 col-sm-12">
                <div class="relative">
                    <button class="play_btn hidden-phone hidden-tablet"><span class="left"></span>play<span class="right"></span></button>
                    <img ng-src="{{ content.img }}" alt="" />
                    <span class="thumb__length">4:25</span>
                </div>
                <div class="about_video clearfix">
                    <div class="about_video__left hidden-phone hidden-tablet">
                        <h2>{{content.title}}</h2>
                        <span> <span>2</span> дня назад</span>
                    </div>
                    <div class="about_video__right clearfix">
                        <div class="about_video__left hidden-phone">
                            <span class="hidden-desktop"> <span>2</span> дня назад</span>
                        </div>
                        <h2 class="hidden-desktop hidden-tablet">{{content.title}}</h2>
                        <p class="hidden-phone views_row">Просмотров <span class="views">38 806</span></p>
                        <p><span class="hidden-tablet hidden-desktop mob_channel_name">50-50 Pranker</span> <i class="hidden-phone">Нравится</i> <span class="likes">870</span> <button class="btn like_btn">
                            <i class="svg">
                                <svg version="1.1" id="Шар_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="23px" viewBox="0 0 13.566 11" enable-background="new 0 0 13.566 11" xml:space="preserve">
                                    <path fill="" d="M4.901,8.47c1.686,0.776,3.688,1.21,5.661,1.21c0.639,0,0.402-0.03,1.016-0.133
                                        c0.24-0.041,0.551-0.131,0.688-0.236c0.188-0.146,0.309-0.379,0.309-0.639c0-0.24-0.104-0.458-0.268-0.605h0.07
                                        c0.438,0,0.793-0.361,0.793-0.807s-0.355-0.807-0.793-0.807h0.396c0.439,0,0.795-0.361,0.795-0.807c0-0.446-0.355-0.807-0.795-0.807
                                        c0.439,0,0.795-0.361,0.795-0.807s-0.355-0.807-0.795-0.807h-2.695c-0.274,0-0.497-0.226-0.497-0.504l0.25-1.676
                                        C9.854,0.97,9.867,0.89,9.867,0.807C9.867,0.361,9.511,0,9.071,0C8.704,0,8.394,0.254,8.304,0.597L8.271,0.712
                                        C7.76,2.361,6.604,3.868,4.901,4.84V8.47z"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" fill="" d="M0,3.52h3.9v6.412L0,11V3.52z"/>
                                </svg>
                            </i>
                        </button></p>
                        <p class="hidden-tablet hidden-desktop"><span class="mob_date"> <span>2</span> дня назад</span> Просмотров <span class="views">38 806</span></p>
                        <h2 class="hidden-desktop hidden-phone">{{content.title}}</h2>
                        <div class="row hidden-desktop hidden-phone">
                            <div class="col-xs-6">
                                <div class="row">
                                    <div class="col-xs-3 ctrl">
                                        <a href="#" class="btn btn-video-ctrl">
                                            <img class="prev" src="assets/img/video-prev-icon.png" alt="prev icon">
                                        </a>
                                    </div>
                                    <div class="col-xs-9 l_text">
                                        <div class="thumb__img">
                                            <span class="thumb__length">4:25</span>
                                            <img alt="" ng-src="https://i.ytimg.com/vi/BBhZPWmXUtE/maxresdefault.jpg" src="https://i.ytimg.com/vi/BBhZPWmXUtE/maxresdefault.jpg">
                                        </div>

                                        <p class="th_description">Тыквы-зомби / пранк</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="row">
                                    <div class="col-xs-9 r_text">
                                        <div class="thumb__img">
                                            <span class="thumb__length">4:25</span>
                                            <img alt="" ng-src="https://i.ytimg.com/vi/BBhZPWmXUtE/maxresdefault.jpg" src="https://i.ytimg.com/vi/BBhZPWmXUtE/maxresdefault.jpg">
                                        </div>

                                        <p class="th_description">Самая неприятная шутка на годовщину
                                            / Anniversary Prank Backfires!!</p>
                                    </div>
                                    <div class="col-xs-3 ctrl">
                                        <a href="#" class="btn btn-video-ctrl">
                                            <img class="next" src="assets/img/video-next-icon.png" alt="prev icon">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- right preview -->
            <div class="video_slider__item video_slider__item--right col-md-2 hidden-tablet hidden-phone">
                <div class="thumb__img">
                    <span class="thumb__length">4:25</span>
                    <img alt="" ng-src="https://i.ytimg.com/vi/BBhZPWmXUtE/maxresdefault.jpg" src="https://i.ytimg.com/vi/BBhZPWmXUtE/maxresdefault.jpg">
                </div>
                <a href="#" class="btn btn-video-ctrl">
                    <span>Следующее</span>
                    <img class="next" src="assets/img/video-next-icon.png" alt="prev icon">
                </a>
                <p class="th_description">Самая неприятная шутка на годовщину
                    / Anniversary Prank Backfires!!</p>
            </div>
        </div>
    </div> <!-- end slider box -->

    <!-- mobile tabs -->
    <div class="tabl_mob_tebs hidden-desktop" ng-controller="CommentsCtrl">
        <div class="clearfix">
            <tabs class="tabs tabs--video tablet-center">
                <a ng-class="{'active' : activeTab == 3}" ng-click="setActiveTab(3)">Комментари <span>{{ commentsLength() }}</span></a>
                <hr class="block__hr hidden-tablet hidden-desktop">
                <a ng-class="{'active' : activeTab == 1}" ng-click="setActiveTab(1)">Похожие видео</a>
                <hr class="block__hr hidden-tablet hidden-desktop">
                <a ng-class="{'active' : activeTab == 2}" ng-click="setActiveTab(2)">Похожие каналы</a>
                <hr class="block__hr hidden-tablet hidden-desktop">
                <div class="tabs__underline"></div>
            </tabs>
        </div>
        <hr class="block__hr hidden-phone">
    </div>
    <div class="comments_bar_box">
        <div class="col-xs-12 col-md-7" ng-show="activeTab == 3 || desktop == true">
            <div class="block" ng-controller="CommentsCtrl">
                <div class="col-xs-12 hidden-phone hidden-tablet">
                    <p>
                        <span class="comments__title">Комментарии </span>
                        <span class="comments__number">{{ commentsLength() }}</span>
                    </p>
                    <br>
                </div>
                <hr class="block__hr hidden-phone hidden-tablet">
                <div class="col-xs-12">
                    <!-- comments block -->
                    <div class="comments__item">
                        <div class="comments__img">
                            <img src="assets/img/ball-61.png" alt="" />
                        </div>
                        <div class="comments__right">
                            <textarea class="comments__textarea" placeholder="Оставить комментарий"
                                      ng-model="comment" ng-focus="initInput = true"
                                      ng-enter="initInput = false; addComment(comment); comment = ''; limits.comments = limits.comments + 1"></textarea>
                            <div class="comments__controls-r" ng-show="initInput">
                                <span class="btn btn-white comments__answer" ng-click="initInput = false; comment = ''">Отмена</span>
                                <span class="btn btn-white comments__answer" ng-click="initInput = false; addComment(comment); comment = ''; limits.comments = limits.comments + 1">Ответить</span>
                            </div>
                        </div>
                    </div>
                    <ul class="comments__container">
                        <li class="comments__item" ng-repeat="comment in comments | limitTo: limits.comments ">
                            <div class="clearfix">
                                <div class="comments__img">
                                    <img ng-src="{{ comment.img }}" alt="" />
                                </div>
                                <div class="comments__right">
                                    <p class="comments__user">{{ comment.user }}</p>
                                    <p class="comments__text">{{ comment.text }}</p>
                                    <p class="hidden-tablet hidden-desktop"><span class="comments__date">{{ comment.date | date:'dd MMMM' }}</span></p>
                                    <div class="comments__controls">
                                        <div class="comments__controls-l">
                                            <span class="btn btn-white comments__answer" ng-click="allowInput($index)">Ответить</span>
                                            <span class="btn btn-white comments__plusone" ng-click="comment.likes = comment.likes + 1">+ {{ comment.likes }}</span>
                                        </div>
                                        <div class="comments__controls-r">
                                            <span class="comments__date hidden-phone">{{ comment.date | date:'dd MMMM' }}</span>
                                            <span class="btn btn-white comments__other"><span>...</span></span>
                                        </div>
                                    </div>
                                    <div class="clearfix" ng-show="isInputAllowed($index)">
                                        <textarea class="comments__textarea comments__textarea--response" placeholder="Оставить ответ"
                                                  ng-model="response"
                                                  ng-enter="allowInput(); addComment(response,$index); response = ''"
                                        ></textarea>
                                        <div class="comments__controls-r">
                                            <span class="btn btn-white comments__answer" ng-click="allowInput(); response = ''">Отмена</span>
                                            <span class="btn btn-white comments__answer" ng-click="allowInput(); addComment(response,$index); response = ''">Ответить</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="comments__container">
                                <li class="comments__item" ng-repeat="response in comment.responses">
                                    <div class="comments__img">
                                        <img ng-src="{{ response.img }}" alt="" />
                                    </div>
                                    <div class="comments__right">
                                        <p class="comments__user">{{ response.user }}</p>
                                        <p class="comments__text">{{ response.text }}</p>
                                        <p class="hidden-tablet hidden-desktop"><span class="comments__date">{{ response.date }}</span></p>
                                        <div class="comments__controls">
                                            <div class="comments__controls-l">
                                                <span class="btn btn-white comments__answer" ng-click="allowInput($parent.$index,$index)">Ответить</span>
                                                <span class="btn btn-white comments__plusone" ng-click="response.likes = response.likes + 1">+ {{ response.likes }}</span>
                                            </div>
                                            <div class="comments__controls-r">
                                                <span class="comments__date hidden-phone">{{ response.date | date:'dd MMMM' }}</span>
                                                <span class="btn btn-white comments__other"><span>...</span></span>
                                            </div>
                                        </div>
                                        <div class="clearfix" ng-show="isInputAllowed($parent.$index,$index)">
                                            <textarea class="comments__textarea comments__textarea--response" placeholder="Оставить ответ"
                                                      ng-model="reply"
                                                      ng-enter="allowInput(); addComment(reply,$parent.$index,$index); reply = ''"
                                            ></textarea>
                                            <div class="comments__controls-r">
                                                <span class="btn btn-white comments__answer" ng-click="allowInput(); reply = ''">Отмена</span>
                                                <span class="btn btn-white comments__answer" ng-click="allowInput(); addComment(reply,$parent.$index,$index); reply = ''">Ответить</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- comments -->
                </div>
            </div>

            <div class="block center">
                <a class="btn btn-more" ng-click="loadMore('comments')">ЗАГРУЗИТЬ ЕЩЕ</a>
            </div>
        </div> <!-- end col -->
        <div class="col-xs-12 col-md-5">


            <!-- desktop tabs -->
            <div class="row hidden-phone hidden-tablet">
                <div class="col-xs-12">
                    <div class="clearfix">
                        <tabs class="tabs tabs--video">
                            <a ng-class="{'active' : activeTab == 1}" ng-click="setActiveTab(1)">Похожие видео</a>
                            <a ng-class="{'active' : activeTab == 2}" ng-click="setActiveTab(2)">Похожие каналы</a>
                            <div class="tabs__underline"></div>
                        </tabs>
                    </div>
                </div>
            </div>
            <!--<hr class="block__hr">-->


            <!--  videos -->
            <div ng-show="activeTab == 1" class="row right_video_list">


                <div class="col-xs-6">
                    <div class="thumb">
                        <a class="btn" href="#" >
                            <div class="thumb__img thumb__img--shadow">
                                <span class="thumb__length">4:25</span>
                                <img alt="" ng-src="https://i.ytimg.com/vi/ZL4yYHdDSWs/maxresdefault.jpg" src="https://i.ytimg.com/vi/ZL4yYHdDSWs/maxresdefault.jpg">
                            </div>
                        </a>
                        <p class="thumb__title"><a href="">4</a></p>
                        <p class="thumb__count"><a href="#"><span class="thumb__number">14</span> просмотров</a></p>
                    </div>
                </div>


                <div class="col-xs-6">
                    <div class="thumb">
                        <a class="btn" href="#">
                            <div class="thumb__img thumb__img--shadow">
                                <span class="thumb__length">4:25</span>
                                <img alt="" ng-src="https://i.ytimg.com/vi/ZL4yYHdDSWs/maxresdefault.jpg" src="https://i.ytimg.com/vi/ZL4yYHdDSWs/maxresdefault.jpg">
                            </div>
                        </a>
                        <p class="thumb__title"><a href="">4</a></p>
                        <p class="thumb__count"><a href="#"><span class="thumb__number">14</span> просмотров</a></p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="thumb">
                        <a class="btn" href="#" >
                            <div class="thumb__img thumb__img--shadow">
                                <span class="thumb__length">4:25</span>
                                <img alt="" ng-src="https://i.ytimg.com/vi/ZL4yYHdDSWs/maxresdefault.jpg" src="https://i.ytimg.com/vi/ZL4yYHdDSWs/maxresdefault.jpg">
                            </div>
                        </a>
                        <p class="thumb__title"><a href="">4</a></p>
                        <p class="thumb__count"><a href="#"><span class="thumb__number">14</span> просмотров</a></p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="thumb">
                        <a class="btn" href="#">
                            <div class="thumb__img thumb__img--shadow">
                                <span class="thumb__length">4:25</span>
                                <img alt="" ng-src="https://i.ytimg.com/vi/ZL4yYHdDSWs/maxresdefault.jpg" src="https://i.ytimg.com/vi/ZL4yYHdDSWs/maxresdefault.jpg">
                            </div>
                        </a>
                        <p class="thumb__title"><a href="">4</a></p>
                        <p class="thumb__count"><a href="#"><span class="thumb__number">14</span> просмотров</a></p>
                    </div>
                </div>
            </div> <!-- end row -->

            <!--  channels -->
            <div ng-show="activeTab == 2" class="row right_video_list">
                <div class="col-xs-6">
                    <div class="thumb">
                        <a class="btn" href="#" >
                            <div class="thumb__img thumb__img--shadow">
                                <span class="thumb__length">4:25</span>
                                <img alt="" ng-src="https://i.ytimg.com/vi/_-CD_5YhJTA/maxresdefault.jpg" src="https://i.ytimg.com/vi/ZL4yYHdDSWs/maxresdefault.jpg">
                            </div>
                        </a>
                        <p class="thumb__title"><a href="">4</a></p>
                        <p class="thumb__count"><a href="#"><span class="thumb__number">14</span> просмотров</a></p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="thumb">
                        <a class="btn" href="#">
                            <div class="thumb__img thumb__img--shadow">
                                <span class="thumb__length">4:25</span>
                                <img alt="" ng-src="https://i.ytimg.com/vi/_-CD_5YhJTA/maxresdefault.jpg" src="https://i.ytimg.com/vi/ZL4yYHdDSWs/maxresdefault.jpg">
                            </div>
                        </a>
                        <p class="thumb__title"><a href="">4</a></p>
                        <p class="thumb__count"><a href="#"><span class="thumb__number">14</span> просмотров</a></p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="thumb">
                        <a class="btn" href="#" >
                            <div class="thumb__img thumb__img--shadow">
                                <span class="thumb__length">4:25</span>
                                <img alt="" ng-src="https://i.ytimg.com/vi/_-CD_5YhJTA/maxresdefault.jpg" src="https://i.ytimg.com/vi/ZL4yYHdDSWs/maxresdefault.jpg">
                            </div>
                        </a>
                        <p class="thumb__title"><a href="">4</a></p>
                        <p class="thumb__count"><a href="#"><span class="thumb__number">14</span> просмотров</a></p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="thumb">
                        <a class="btn" href="#">
                            <div class="thumb__img thumb__img--shadow">
                                <span class="thumb__length">4:25</span>
                                <img alt="" ng-src="https://i.ytimg.com/vi/_-CD_5YhJTA/maxresdefault.jpg" src="https://i.ytimg.com/vi/ZL4yYHdDSWs/maxresdefault.jpg">
                            </div>
                        </a>
                        <p class="thumb__title"><a href="">4</a></p>
                        <p class="thumb__count"><a href="#"><span class="thumb__number">14</span> просмотров</a></p>
                    </div>
                </div>
            </div> <!-- end row -->
        </div>
    </div>
</div>
