<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>new [age]</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="assets/css/main.min.css">
		<base href="/">
	</head>
	<body>

            <div class="page">
                <div class="content">
                    <div class="row">

                        <div class="block">

                            <div class="col-xs-12">
                                <h2>UI Elements</h2>
                                <hr class="block__hr"> <br>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <h3>buttons</h3>
                                <a class="btn">btn</a> <br><br>
                                <a class="btn btn-white">btn-white</a> <br><br>
                                <a class="btn btn-white btn-small">btn-white btn-small</a> <br><br>
                                <a class="btn btn-green">btn-green</a> <br><br>
                                <a class="btn btn-green main-ui">btn-green main-ui</a> <br><br>
                                <a class="btn btn-grey">btn-grey</a> <br><br>
                                <a class="btn btn-white btn-fullwidth">btn-white btn-fullwidth</a> <br><br>
                                <a class="btn btn-google">btn-google</a> <br><br>
                                <a class="btn btn-fb">btn-fb</a> <br><br>
                                <a class="btn btn-vk">btn-vk</a> <br><br>
                                <a href="#" class="btn btn-white btn-remove">
                                    <i class="svg"><svg width="10" xmlns="http://www.w3.org/2000/svg" height="11" viewBox="0 0 64 64"><path fill="" d="M28.94 31.786L.614 60.114c-.787.787-.787 2.062 0 2.85.393.393.91.59 1.424.59.516 0 1.03-.197 1.424-.59L32.003 34.42l28.54 28.54c.395.395.91.59 1.425.59s1.03-.195 1.424-.59c.788-.786.788-2.06 0-2.848L35.065 31.786 63.41 3.438c.787-.787.787-2.062 0-2.85-.787-.785-2.062-.785-2.848 0L32.002 29.15 3.443.59C2.653-.196 1.38-.196.59.59c-.786.787-.786 2.062 0 2.85l28.35 28.346z"></path></svg></i>
                                    btn-white btn-remove
                                </a> <br><br>
                                <a style="display: block;" class="btn profile__btn_white tbl btn-white">
                                    <i class="svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12.5" height="12.75" viewBox="0 0 12.5 12.75"><path d="M0 10.11v2.64h2.64l7.638-7.715-2.64-2.64L0 10.108zm12.292-7.09c.277-.278.277-.695 0-.973l-1.597-1.6c-.28-.277-.695-.277-.973 0L8.472 1.7l2.64 2.64 1.18-1.32z"></path>
                                        </svg>
                                    </i>
                                    btn profile__btn_white tbl btn-white
                                </a> <br><br>
                                <a class="btn btn-more">btn-more</a> <br><br>
                                <div class="subscribe_box">
                                    <a class="green_btn subscribe">Подписаться</a><span class="counter"> 18 358 461</span>
                                </div>
                                <br><br><br><br>
                                <span class="btn btn-white btn-cancel">
                                    <i class="svg"><svg xmlns="http://www.w3.org/2000/svg" width="6.008" height="10.232" viewBox="0 0 6.008 10.232"><path d="M6.008 9.053l-3.715-3.82 3.715-3.82L4.862.233 0 5.233l4.86 5 1.148-1.18z"></path></svg></i>
                                    btn-white btn-cancel
                                </span>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <h3>forms</h3>
                                <div class="form">
                                    <p>form header</p>
                                    <div class="form__row">
                                        <label class="form__title">Form Label</label>
                                        <input type="email" placeholder="form input">
                                    </div>
                                    <div class="form__row">
                                        <label class="form__title">Form Label</label>
                                        <input class="white" type="email" placeholder="form input .white">
                                    </div>
                                    <div class="form__row">
                                        <label class="form__title alignTop">Textarea Label</label>
                                        <textarea cols="30" rows="10" maxlength="500" placeholder="textarea"></textarea>
                                    </div>
                                </div>
                                <p>ctrl</p> <br>
                                <input type="checkbox" class="hidden" id="activate">
                                <label class="ctrl" for="activate"></label>
                                <br><br>
                                <input class="hidden" type="radio" value="ask" name="publish_on_channel" id="publish_ask">
                                <label class="radio_label" for="publish_ask">radio_label</label>
                                <br><br>
                                <input type="checkbox" id="send_info_tabl" name="send_info" class="hidden">
                                <label for="send_info_tabl" class="check_label">check_label</label>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

    </body>

</html>
