<!-- ratings channels block -->
<div class="block block--white block--table">
    <table class="channels__table">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    <div class="th-subs">Подписчики</div>
                    <div class="hidden-desktop">Просмотры</div>
                </th>
                <th class="hidden-phone">Видео</th>
                <th class="hidden-tablet hidden-phone">Просмотры</th>
                <th>Канал</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="channel in ratingsChannels">
                <td><span class="table__number">{{ $index + 1 }}</span></td>
                <td>
                    <div class="table__subscribers">{{ channel.statSubscribers | number }}</div>
                    <div class="table__views hidden-desktop">{{ channel.statViews | number }}</div>
                </td>
                <td class="hidden-phone"><span class="table__videos">{{ channel.statVideos | number }}</span></td>
                <td class="hidden-tablet hidden-phone">
                    <span class="table__views">{{ channel.statViews | number }}</span>
                </td>
                <td class="table__channel">
                    <a ui-sref="channels({ id: channel.id })">
                        <img ng-src="{{ channel.img }}" alt="channel avatar"/>
                    </a>
                    <a ui-sref="channels({ id: channel.id })"><span>{{ channel.title }}</span></a>
                    <p class="hidden-tablet hidden-phone" ng-bind-html="channel.description | trimText : 150" style="white-space: pre-line;"></p>
                    <div class="hidden-tablet hidden-desktop" ng-show="channel.statVideos">
                        <i class="table__videos">{{ channel.statVideos | number }}</i><i class="videos"> Видео</i>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="block center">
    <load-more params="[channelsRequest,ratingsChannels,channelsOffset]"></load-more>
</div>
