<div class="content" autoscroll='true'>
    <div class="row">

        <!-- ratings page header -->
        <div class="block block--header">
            <div class="col-xs-12 block__heading--ratings">
                <div class="clearfix">
                    <h2 class="block__title">Рейтинги</h2>
                </div>
                <div class="clearfix">
                    <div class="block__btn block__btn--50">
                        <div class="block__select">
                            <div ng-class="{'hidden-visibility':$state.includes('ratings.channels')}">
                                <span class="category-caption">Категория:</span>
                                <div class="select" tabindex="0" ng-class="{'active':selectActive}" ng-blur="selectActive = false">
                                    <i class="svg"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="22" viewBox="0 0 28.914 16.998"><path fill-rule="evenodd" clip-rule="evenodd" fill="" d="M28.914 2.857L26.057 0l-11.66 11.66L2.83.093 0 2.924l13.98 13.98.35-.348.44.442"/></svg></i>
                                    <span class="select__title" ng-click="selectActive = !selectActive;">{{ selectedCategory || 'Все категории видео' }}</span>
                                    <div class="select__list">
                                        <ul>
                                            <li ng-click="selectedCategory = undefined">Все категории видео</li>
                                            <li ng-repeat="category in categories" ng-click="$parent.selectedCategory = category">{{ category }}</li>
                                            <!-- $parent.selectActive = false -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <tabs class="tabs">
                        <a ui-sref="ratings.videos" ui-sref-active="active">Рейтинг видео</a>
                        <a ui-sref="ratings.channels" ui-sref-active="active">Рейтинг каналов</a>
                        <div class="tabs__underline"></div>
                    </tabs>
                </div>
            </div>
            <hr class="block__hr">
        </div>

        <!-- videos and channels views -->
        <div ui-view></div>

    </div>
</div>
