<!-- ratings videos block -->
<div class="block block--white">
    <div class="col-xs-6 col-sm-4 col-md-3"
    ng-repeat="video in ratingsVideos | filter: { user: selectedCategory } ">
        <div class="thumb">
            <a ui-sref="videos({ id: video.id })">
                <div class="thumb__img">
                    <span class="thumb__length">{{ video.length | secondsToTime}}</span>
                    <img ng-src="{{ video.img }}" alt="" />
                </div>
            </a>
            <div class="thumb__description">
                <p class="thumb__title"><a ui-sref="videos({ id: video.id })">{{ video.title }}</a></p>
                <p class="thumb__user"><a ui-sref="channels({ id: video.channelId })">{{ video.user }}</a></p>
                <p class="thumb__info hidden-phone">
                    <span class="thumb__count"><span class="thumb__number">{{ video.count || 0 | number }}</span> просмотров</span>
                    <span class="thumb__date" ng-bind-html="video.date | prettyDate"></span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="block center">
    <load-more params="[videosRequest,ratingsVideos,videosOffset]"></load-more>
</div>
