<div class="registration">

    <!-- header tabs -->
    <div class="clearfix">
        <tabs class="tabs tabs--center">
            <a ui-sref="reg" ui-sref-active="active">Регистрация</a>
            <a ui-sref="sign-in" ui-sref-active="active">Войти</a>
        </tabs>
    </div>
    <hr class="block__hr">
    <!-- header tabs -->

    <!-- registration form -->
    <div class="registration__logo_row clearfix">
        <img src="assets/img/logo.png" alt="logo">
        <span>Вы можете использовать данные для входа с VSP Online</span>
        <div class="mob_btn pull-right hidden-tablet hidden-desktop">
            <a class="btn btn-google">Google +</a>
            <a class="btn btn-vk">Vk</a>
            <a class="btn btn-fb">Fb</a>
        </div>
    </div>
    <div class="registration__sign_in_options options">
        <div class="options__soc_bar clearfix">
            <span class="hidden-phone">Войти через <br> соц сети</span>
            <div class="pull-right hidden-phone">
                <a class="btn btn-google">Google +</a>
                <a class="btn btn-vk">Vk</a>
                <a class="btn btn-fb">Fb</a>
            </div>
        </div>
        <div class="hidden-phone"><span class="line"></span> <span>или</span> <span class="line"></span></div>
        <div class="options__form">
            <div class="inp_row">
                <label for="email">Email</label> <input type="email">
            </div>
            <div class="inp_row">
                <label for="password">Пароль</label> <input type="password">
                <a href="#" class="btn inp_row__forgot_pass">Забыли пароль?</a>
            </div>
        </div>
    </div>
    <div class="options__form bottom">
        <div class="inp_row">
            <input type="checkbox" class="hidden" id="remember_me">
            <label for="remember_me" class="check_label">Запомнить меня</label>
        </div>
        <div class="inp_row">
            <button class="btn btn-green main-ui full_width">Вход</button>
        </div>
    </div>
    <!-- registration form -->

</div>
