.accordion {
    &__pannel {
        overflow: hidden;
        height: 0px;
        transition: height .3s ease-in-out;
    }
    &__content {
        margin: 0 0 15px 0 !important;
        padding: 0 !important;
    }
    [toggler] {
        @include no-select;
        cursor: pointer;
        color: $col-green;
        .svg {
            fill: $col-green;
        }
        &.active {
            svg:not(.ctrl_icon) {
                transform: rotate(180deg);
            }
        }
    }
}
