/* comments component */
.comments {
    color: #393a3b;
    &__title {
        font-size: 31px;
        color: #393a3b;
        font-weight: 300;
        margin-right: 5px;
    }
    &__number {
        font-size: 31px;
        color: #393a3b;
        font-weight: 300;
        opacity: .4;
    }
    &__container {
        .comments__container {
            padding-left: 60px;
        }
    }
    &__item {
        @include clearfix;
        margin-top: 35px;
    }
    &__img {
        float: left;
        width: 50px;
        margin-right: 15px;
        img {
            width: 100%;
            border-radius: 100%;
            vertical-align: top;
        }
    }
    &__right {
        float: left;
        width: 80%;
        width: calc(100% - 65px);
    }
    &__textarea {
        font-size: 19px;
        color: #393a3b;
        width: 100%;
        height: 90px;
        resize: none;
        max-width: 100%;
        max-height: 90px;
        padding: 15px;
        border: 1px solid #e0e0e0;
        // transition: .3s;
        &:focus {
            outline: 0;
            border: 1px solid $col-green;
            box-shadow: 0px 0px 10px rgba(29,178,70,0.14);
        }
    }
    &__textarea--response {
        margin-top: 15px;
    }
    &__user {
        font-size: 18px;
        font-weight: bold;
        color: #8f37ff;
        margin-bottom: 10px;
    }
    &__text {
        font-size: 19px;
        line-height: 1.2;
        margin-bottom: 5px;
        color: #393a3b;
    }
    &__controls {
        @include clearfix;
        width: 100%;
        color: #393a3b;
    }
    &__controls-l {
        float: left;
        margin-top: 10px;
    }
    &__controls-r {
        float: right;
        text-align: right;
        margin-top: 10px;
    }
    &__answer {
        margin-right: 10px;
    }
    &__plusone,
    &__other {
        color: $col-green;
        &:hover {
            border-color: $col-green;
            color: $col-green;
        }
        &:active {
            transition: 0s;
            color: white !important;
            background: $col-green;
            border-color: $col-green;
        }
    }
    &__date {
        margin-right: 10px;
        color: #a6a8a9;
        font-size: 14px;
    }
    &__other {
        span {
            display: inline-block;
            font-weight: bold;
            font-size: 18px;
            line-height: 0;
            transform: translateY(-3px);
        }
    }
    @include phone {
        &__date {
            display: block;
        }
    }
}
/* comments component */
