<div class="content settings" autoscroll='true'>
    <div class="row">

        <div class="block block--header">
            <div class="col-xs-12 block__heading--ratings">
                <div class="clearfix">
                    <h2 class="block__title">Комментарии и уведомления</h2>
                </div>
                <div class="clearfix">
                    <tabs class="tabs fw">
                        <a ui-sref="notifications-comments" ui-sref-active="active">Все комментарии</a>
                        <a ui-sref="notifications-all" ui-sref-active="active">Все уведомления</a>
                        <div class="tabs__underline"></div>
                    </tabs>
                </div>
            </div>
            <hr class="block__hr">
        </div>

        <div class="block">
            <div class="noti-tabs__box">
                <div class="noti-tabs__left active">
                    <div class="noti-tabs__link" ng-repeat="note in notifications.other | limitTo: 6" ng-class="note.type">
                        <p ng-if="note.type == 'subscribed'">
                            <a href="#" class="user-name">{{ note.user }}: </a>подписался на <a href="#">{{ note.reciever }}</a>
                        </p>
                        <p ng-if="note.type == 'newvideo'">На вашем YouTube канале <a href="#" class="user-name">{{ note.user }}</a> обнаружено ({{ note.number }}) новых видео</p>
                        <p ng-if="note.type == 'liked'"><a href="#" class="user-name">{{ note.user }}: </a>Нравится ваше видео <a href="#">{{ note.reciever }}</a></p>
                    </div>
                    <br>
                    <span class="btn btn-white">Загрузить еще</span>
                </div>
            </div>
        </div>

    </div>
</div>
